/*! Angular dialogs v0.93 | Rafael Hernandez <https://github.com/fikipollo> | MIT license */

/******************************************************************************************/
/* STYLES FOR DIALOGS                                                                     */
/******************************************************************************************/
.modal-error .modal-header {
	background: #D2322D;
	color: #FFFFFF;
}
.modal-error .modal-body {
	color: #A9211E;
}
.modal-info .modal-header {
	background: #428BCA;
	color: #FFFFFF;
}
.modal-success .modal-header {
	background: #5CB85C;
	color: #FFFFFF;
}
.modal-warn .modal-header {
	background: #F0AD4E;
	color: #FFFFFF;
}
.modal-confirmation .modal-header {
	background: #286090;
	color: #FFFFFF;
}
.glyphicon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}