.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 600px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    line-height: 12px;
    color: #999999;
    font-family: Arial;
}
.dragover {
    border: 5px dotted #333333;
    color: #333333;
}
.drop-box:hover {
    border: 5px dashed #666666;
    color: #666666;
}
#imageSection {
	color:orange;
font-weight:bold;
Font-size:20px;
}

.wifeo_pagemenu > a{color:#FFFFFF;text-decoration:none} 
.wifeo_pagemenu:hover > a{color:#FFFFFF;text-decoration:none;font-weight:bold} 
.wifeo_rubrique > a{color:#FFFFFF;text-decoration:none} 
.wifeo_rubrique:hover > a{color:#FFFFFF;font-weight:bold;text-decoration:none} 
.wifeo_pagesousmenu > a{color:#FFFFFF;text-decoration:none} 
.wifeo_conteneur_menu{border-spacing:0px} 
.wifeo_conteneur_menu{height:30px;border-radius:8px;border:1px solid #0B5D00;display:table;width:100%;background:linear-gradient(top, #6FC13E 0%, #297B00 100%);background:-moz-linear-gradient(top, #6FC13E 0%, #297B00 100%);background:-webkit-linear-gradient(top, #6FC13E 0%,#297B00 100%);background:-ms-linear-gradient(top, #6FC13E 0%,#297B00 100%);background:-o-linear-gradient(top, #6FC13E 0%,#297B00 100%)} 
.wifeo_conteneur_menu a{display:table-cell;text-decoration:none;vertical-align:middle;height:30px;padding:0 5px;text-align:center;-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-ms-transition:all 0.25s ease;-o-transition:all 0.25s ease;transition:all 0.25s ease} .wifeo_pagemenu, 
.wifeo_rubrique{float:left;position:relative;width:20%;text-align:center;display:table} 
.wifeo_sousmenu{width:100%;left:0;opacity:0;position:absolute;top:0px;visibility:hidden;z-index:5;padding:5px;background:linear-gradient(top, #6FC13Ee 0%, #297B00 100%);background:-moz-linear-gradient(top, #6FC13E 0%, #297B00 100%);background:-webkit-linear-gradient(top, #6FC13E 0%,#297B00 100%);background:-ms-linear-gradient(top, #6FC13E 0%,#297B00 100%);background:-o-linear-gradient(top, #6FC13E 0%,#297B00 100%);border-radius:8px;border:1px solid #0B5D00} @media screen and (min-device-width:1024px){.wifeo_sousmenu{-webkit-transition:all 0.25s ease;-moz-transition:all 0.25s ease;-ms-transition:all 0.25s ease;-o-transition:all 0.25s ease;transition:all 0.25s ease}} .wifeo_rubrique:hover .wifeo_sousmenu{opacity:1;top:40px;visibility:visible} .wifeo_sousmenu a:hover{background-color:#0B5D00;border-radius:8px} .wifeo_pagesousmenu{width:100%;text-align:center;display:table}</style>