@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic,400italic);
@import "normalize";
@import "library";

/*----------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Basic Page Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
html, body { height: 100%; min-height: 100%; width: 100%; margin: 0px;  padding: 0px;  }
body { font-family:'Roboto', sans-serif; font-size:1.2em; line-height: 1.4;color:@bodyTextColor;.gradient(top, 0%, 100%);background-repeat:no-repeat;background-color:@backgroundColorEnd; }
h1 { font-size:1.5em;font-weight:700;padding:.3em .6em;margin:0px;color:@headingColor; }
h3 { font-size:1.15em;font-weight:700;padding:.3em .6em;margin:0px;color:@headingColor; }
label { font-size:1em;font-weight:500;padding:5px 5px 5px 0px;margin:0px;color:@labelColor;
	.value {
		color:@bodyTextColor;
	}
	.inputLabel {
		padding:0.7em 0.25em 0em 0em;
	}
}
p, td { font-size:1em;font-weight:400;padding:5px 0px 5px 0px;margin:0px; }
ul { margin:0px;padding:0px;
	li { list-style:none; }
}
.flex-container {
	.displayFlex();
	.flexFlow(row wrap);
	justify-content:flex-start;
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	.transition(.2s);
	color:@bodyTextColor;
	&:hover, &:active, &:focus {
		color:@primary;
		.transition(.2s);
		cursor:pointer;
	}
}
audio, canvas, img, video { vertical-align: middle; }
::-moz-selection { background: @primary; text-shadow: none; }
::selection { background: @primary; text-shadow: none; }

.primaryIconColor { fill:@primaryIcon; }
.secondaryIconColor { fill:@secondaryIcon; }

.status { color:@primary; }
.detailLabel {
	color:@labelColor;
	padding:0em .3em 0em 0em;
}

header.ng-scope, div.container.ng-scope, footer.ng-scope {
	max-width:1400px;
	margin:0px auto;
}
.errorMessage {
	text-align:left;
	.flex(1 auto);
	color:#AA3333;
	font-weight:400;
}

/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- General Class Styles ----------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/* Don't allow other elements to float to either side */
.clear { clear:both; }

/* Hide an element and do not keep its place */
.hide { display:none; visibility:hidden; }

/* Show an element that has been hidden */
.show { display:block; visibility:visible; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px; }

/* Align text to the left, center, or right */
.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }

/* Control how bold the text is */
.lightest { font-weight:100; }
.light { font-weight:300; }
.normal { font-weight:400; }
.bold { font-weight:500; }
.bolder { font-weight:700; }
.boldest { font-weight:900; }

/* Add or remove an underline from text */
.underline { text-decoration:underline; }
.noUnderline { text-decoration:none; }

/* Make text italic */
.italic { font-style:italic; }

/* Make text lowercase, uppercase, or capitalize each word */
.lowercase { text-transform:lowercase; }
.capitalize { text-transform:capitalize; }
.uppercase { text-transform:uppercase; }

/* Remove padding or margin from element */
.noPadding { padding:0px; }
.noMargin { margin:0px; }

/* Make text overflow to ellipsis if box is smaller than text line length */
.ellipsis { .ellipsis(); }

/* Remove border or bullets from element */
.noBorder { border:0px none; }
.noBullets { list-style:none; }

/* Float element to the left or right */
.floatLeft { float:left; }
.floatRight { float:right; }

/* Cursor styles: pointer or move */
.pointer, button, .btn { cursor: pointer; }
.move { cursor:move; }

/* Use on the parent of floated elements if you do not want the parent element to collapse */
.clearfix {
	display: block;
	zoom: 1;
	&:after {
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Inputs and Forms ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
input[type="text"], input[type="password"],
input[type="search"], input[type="date"],
input[type="number"], input[type="email"],
input[type="tel"], input[type="url"], textarea {
	margin:5px 0px;
	padding:6px;
	border:1px solid @borderColor;
	font-size:.85em;
	outline:none;
	color:@labelColor;
	min-width:190px;
	background-color:@inputBg;
	-webkit-appearance: none;
	.borderRadius(0px);
	.boxSizing();
	.transition(.2s);
	&:hover {
		border-color:@labelColor;
		.shadow(1px 1px 2px rgba(0,0,0,.25));
		.transition(.2s);
	}
	&:focus {
		border-color:@primary;
		.transition(.2s);
		.shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
	}
	&:required:invalid {
		background-image: url(../images/icons/media_record.svg);
		background-size:auto 65%;
		background-position: 4px center;
		background-repeat: no-repeat;
		padding-left:32px;
	}
	&:focus:invalid {
		background-image: url(../images/icons/sign_forbidden.svg);
		background-size:auto 65%;
		background-position: 7px center;
		background-repeat: no-repeat;
		border-color:darkred;
		padding-left:32px;
	}
	&:required:valid {
		background-image: url(../images/icons/check.svg);
		background-size:auto 65%;
		background-position: 7px center;
		background-repeat: no-repeat;
		padding-left:32px;
	}
	&.errorInput {
		border-color: #AA3333;
		background-color: #FFEEEE;
		color: #AA3333;
		font-weight: 700;
	}
}
input[readonly], textarea[readonly],
input[readonly]:hover, textarea[readonly]:hover,
input[readonly]:focus, textarea[readonly]:focus,
input[readonly]:active, textarea[readonly]:active {
	background-color:fadeout(@inputBg, 40%);
	border:1px solid fadeout(@borderColor, 40%);
	color:fadeout(@labelColor, 30%);
	.shadow(0px 0px 0px transparent);
}
input[type="date"] { font-family:'Roboto', sans-serif; }
input[type="checkbox"], input[type="radio"] { margin:0px 10px 0px 0px; }
input[type="range"] { margin:0px 5px; }
input[type="date"], input[type="tel"] { max-width:160px; }
textarea { resize: vertical; }

/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------- Buttons ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
button {
	padding:0px 1.5em;
	border:1px solid rgba(0,0,0,.25);
	background-color:@primary;
	color:@light;
	font-size:.9em;
	min-height:44px;
	text-shadow:1px 1px 2px rgba(0,0,0,.25);
	.transition(.2s);
	&:hover {
		background-color:darken(@primary, 10%);
		.transition(.2s);
	}
	&:active {
		outline:none;
		.shadow(inset 0px 0px 5px rgba(0,0,0,.5));
	}
	&:focus {
		outline:none;
	}
}
article {
	&.btnGroup {
		margin:0px;
		padding:10px 0px;
		button {
			border-right-width:0px;
			float:left;
		}
		button:last-child {
			border-right-width:1px;
		}
	}
}

/*----------------------------------------------------------------------------------------*/
/*---------------------------------------- Tables ----------------------------------------*/
/*----------------------------------------------------------------------------------------*/
table {
	width:100%;
	padding:0px;
	margin:0px;
	&.full-width {
		width:100%;
		max-width:100%;
	}
	tr {
		width:100%;
		padding:0px;
		margin:0px;
		border-collapse:collapse;
		&:nth-of-type(2n) {
			background-color:rgba(0,0,0,.05);
		}
		td[class="labelCell"] {
			border-collapse:collapse;
			padding:0px;
			margin:0px;
			width:100%;
			padding:7px 7px 0px 0px;
			.ellipsis();
		}
		td {
			padding:0px 0px 0px 10px;
			height:35px;
			.boxSizing();
			&, a {
				color:@labelColor;
				font-weight:300;
			}
		}
		th {
			padding: .35em .45em;
			text-align: left;
			background-color: @primary;
			color: @light;
			text-shadow: 0px 0px transparent;
			font-weight: 400;
			border-left: 1px solid rgba(0,0,0,.2);
			.shadow(inset 0px -10px 10px -5px rgba(0,0,0,.1));
		}
	}
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------- Alert Boxes ----------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
article {
	&.alert, &.alert-important {
		margin:0px;
		padding:0px;
		.boxSizing();
		h5 {
			margin:0px;
			padding:.4em 1em;
			width:100%;
			color:@light;
			font-size:1em;
			.boxSizing();
			button {
				float: right;
				color: @light;
				width: 2.2em;
				height: 2.2em;
				min-height:0px;
				text-align: center;
				margin: -.5em -1em 0px 0px;
				padding:0px;
				font-size:1em;
				border:0px none;
				background-color:transparent;
				.boxSizing();
				&:hover {
					cursor:pointer;
					background-color:transparent;
					color:fadeout(@light, 50%);
				}
				&:active, &:focus {
					outline:none;
					background-color:transparent;
					.shadow(0px 0px 0px transparent);
				}
			}
		}
		p {
			background-color:@light;
			padding:10px;
			width:100%;
			.boxSizing();
		}
	}
	&.alert {
		border:2px solid @labelColor;
		.shadow(0px 0px 5px rgba(0,0,0,.3));
		h5 {
			background-color:@labelColor;
		}
		p {
			color:@labelColor;
		}
	}
	&.alert-important {
		border:2px solid @primary;
		.shadow(0px 0px 5px darken(@primary, 5%));
		h5 {
			background-color:@primary;
		}
		p {
			color:darken(@primary, 5%);
		}
	}
}

/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------- Badge Styling ----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
.badge {
	padding:.3em .5em;
	border-radius:15px;
	margin:0em -0.4em 0em 0.7em;
	background-color:@light;
	text-shadow:0px 0px 0px transparent;
	font-weight:900;
}
.badge-white {
	color:@primary;
}

/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------- Page Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
article.flex-item {
	margin:.5em;
	padding:0px;
	background-color:@light;
	border:1px solid rgba(0,0,0,.1);
	.flex(1 auto);
}
article.headingInfo {
	.flex(1 100%);
	.displayFlex();
	.reqNumber {
		color:@primary;
		font-weight:700;
		padding: 0.3em 0.7em;
		.boxSizing();
		.flex(1 auto);
		font-size:1.4em;
	}
	h1 {
		.flex(4 1 auto);
		text-align:center;
		padding:0.3em 0em 0em;
	}
	.status {
		.flex(1 auto);
		text-align:right;
		padding: .7em 1em 0em;
		font-weight:700;
	}
}
.MainNavigation {
	a {
		padding:.8em 1.4em;
		border-left:1px solid rgba(0,0,0,.1);
	}
	a:first-of-type {
		padding:0em 1.4em;
		border:0px none;
	}
}
.portlet-heading {
	.shadow(inset 0px -10px 15px -15px rgba(0,0,0,.25));
}
footer {
	width:100%;
	padding:1.25em 2.5em 2em 2.5em;
	.boxSizing();
}
.portletScreen {
	svg {
		width: 100%;
		height: 360px;
	}
	ul {
		.listHeader {
			.shadow(inset 0px -12px 15px -10px rgba(0,0,0,.2));
			padding:0.5em 0em;
			border-bottom:2px solid @borderColor;
			.headerLabel, .headerLabel:hover, .headerLabel:active, .headerLabel:focus {
				font-size:1em;
				font-weight:400;
				color:@bodyTextColor;
				padding:0em 0em 0em .8em;
				&.status {
					padding:0em;
					min-width:6.75em;
				}
			}
		}
		/* Columns set up for ul's to look like tables */
		&.three-column-list {
			.reqNumber, .status { width:25%; .boxSizing(); }
			.details { width:50%; .boxSizing(); }
		}
		&.four-column-list,
		&.five-column-list,
		&.six-column-list,
		&.seven-column-list {
			a { width:100%; float:left; .displayFlex(); .flexFlow(row wrap); }
			span, .reqNumber, .status { .boxSizing(); .flex(1 auto); width:auto;
				span { width:auto; min-width:0px; }
			}
			.details { width:auto; }
		}
		&.four-column-list {
			span, .reqNumber { min-width:8em; }
			.status { min-width:9em; }
			.details { .flex(2 1 25%); min-width:150px; }
		}
		&.five-column-list {
			span, .reqNumber { min-width:8em; }
			.status { min-width:9em; }
			.details { .flex(2 1 19%); min-width:125px; }
		}
		&.six-column-list {
			span, .reqNumber { min-width:8em; }
			.status { min-width:9em; }
			.details { .flex(2 1 15%); min-width:110px; }
		}
		&.seven-column-list {
			span, .reqNumber { min-width:8em; }
			.status { min-width:9em; }
			.details { .flex(2 1 11%); min-width:89px; }
		}
		li {
			padding: .2em .4em .2em .8em;
			border-bottom: 1px solid rgba(0,0,0,.1);
			.boxSizing();
			&:last-of-type {
				border-bottom:0px none transparent;
			}
			&.withLabel {
				padding:0.35em 0px;
				.clearfix;
				&:last-of-type {
					border-bottom:0px none transparent;
				}
			}
			span {
				padding:0em 0em 0em .8em;
				.ellipsis();
				float:left;
				min-width:115px;
				width:15%;
				span {
					min-width:0px;
					width:auto;
				}
				.detailLabel {
					color:@labelColor;
					padding:0em .3em 0em 0em;
				}
			}
			.status {
				float:left;
				font-size:0.75em;
				height:auto;
				font-weight:700;
				padding:.35em 0em 0em;
				margin:0px;
				text-align: left;
				min-width: 110px;
				width: 15%;
				.boxSizing();
			}
			.details {
				.ellipsis();
				float:left;
				min-width:125px;
				width:20%;
			}
			.autoValues {
				.value {
					width:auto;
					min-width:0px;
				}
			}
			
		}
		&.lineItemList {
			.itemNumber {
				float:left;
				font-size:1em;
				height:auto;
				background-color:transparent;
				color:@primary;
				font-weight:700;
				padding:0em 0.7em 0em;
				margin:0px;
				border-bottom:0px none transparent;
				width: auto;
				text-align: left;
				.boxSizing();
			}
			.lineTotal {
				color:@primary;
				font-weight:700;
				padding: 0.3em 0.7em 0em;
				.boxSizing();
				float:right;
				font-size:1.25em;
				text-align:right;
				min-width:0px;
				width:auto;
				small {
					font-size:.75em;
					color:@labelColor;
					padding:0em 0em 0em 0.25em;
				}
				&.totals {
					width:100%;
					text-align:right;
					small:first-of-type {
						padding:0em 0.25em 0em 0em;
					}
				}
			}
			.details {
				white-space:normal;
			}
		}
	}
}

/*------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Login ---------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.loginOuterParent {
	position:absolute;
	width:100%;
	top:65px;
	left:0;
	height:100%;
	.boxSizing();
	display:table;
	.loginInnerParent {
		display:table-cell;
		width:100%;
		vertical-align:middle;
		.loginPage {
			.displayFlex();
			.flexFlow(row wrap);
			width:38%;
			min-width:450px;
			max-width:550px;
			margin:0px auto;
			background-color:@light;
			padding:1.75em 0em 2.5em;
			text-align:center;
			border:1px solid @borderColor;
			.shadow(1px 1px 3px rgba(0,0,0,.1));
			article {
				.flex(1 1 100%);
				&.inputs {
					.displayFlex();
					.flexFlow(column wrap);
					label {
						.flex(0 1 auto);
						margin:0px auto;
						padding:0px;
						.displayFlex();
						-ms-flex-pack: center;
						span {
							.flex(0 1 auto);
							text-align:right;
							margin:0em;
							.boxSizing();
						}
						input {
							.flex(0 1 auto);
							.boxSizing();
							text-align:left;
							max-width:220px;
							height:44px;
							&:focus:invalid {
								background-image:none;
								border-color:@primary;
								padding-left:6px;
							}
						}
					}
				}
				&.langSelect {
					padding:0.65em 0em 1.25em;
					label {
						margin:0px;
						padding:0px;
					}	
				}
				&.forgotPass {
					padding:0.75em 0em 0.25em;
				}
				&.btnGroup {
					margin:0em auto;
					padding:0em;
					min-width:220px;
					max-width:400px;
					button {
						border-right-width:0px;
						width:50%;
					}
					button:last-child {
						border-right-width:1px;
					}
				}
				&.logo {
					width:100%;
					margin:0px;
					padding:0px;
					img {
						width:336px;
						height:100px;
					}
					h1 {
						margin: 0.5em 0em 0.9em;
						padding: .4em 0em;
						width: 100%;
						font-size: 1.2em;
						background-color:@primary;
						color: @light;
						border-top: 1px solid rgba(0,0,0,.25);
						border-bottom: 1px solid rgba(0,0,0,.25);
						box-shadow: inset 0px 1px 3px rgba(255,255,255,.25), inset 0px -2px 4px rgba(0,0,0,.1);
						text-shadow: 1px 1px 1px rgba(0,0,0,.1);
						font-weight: 500;
					}
				}
			}
		}
	}
}


/*------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Catalog Search ----------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.filtersArea {
	padding:0em 0em 0em .5em !important;
	.boxSizing();
	.filterItem {
		float:left;
		width:100%;
		h3 {
			padding:.5em 0em 0em 0em;
			float:left;
			width:100%;
		}
		.filterAttr {
			width:100%;
			float:left;
			label {
				.ellipsis();
				width:100%;
				float:left;
				padding:0px;
			}
		}
	}
}
.searchResults {
	float:left;
	width:100%;
}
.item {
	margin:.5em;
	background-color:@light;
	padding:1.2em 1.2em 3.2em 1.2em;
	border:1px solid rgba(0, 0, 0, 0.15);
	position:relative;
	.shadow(3px 3px 5px rgba(0, 0, 0, 0.025));
	max-width:350px;
	.flex(1 auto);
}
.itemImage {
	text-align:center;
	width: 100%;
	min-height: 215px;
	img {
		max-width:200px;
		height:auto;
	}
}
.itemNumber, .itemSupplier, .itemRating, .itemDetails {
	float:left;
	clear:both;
	label, p {
		float:left;
	}
}
.itemDetails {
	min-width:260px;
}
.comparing {
	position:absolute;
	right:.75em;
	bottom:1.1em;
	input {
		margin:0px 0px 0px 5px;
	}
}
.itemCost {
	float:right;
	font-size:1.15em;
	color:@primary;
	span {
		font-size:.7em;
		color:@labelColor;
		margin:0px 0px 0px 3px;
	}
}
.quantity {
	position:absolute;
	left:.5em;
	bottom:.5em;
	.input-group {
		input {
			float:left;
			border-right:0px none;
			height: 44px;
			padding: 0px 0px 0px 10px;
			margin: 0px;
			width: 85px;
		}
		button {
			float:left;
			padding:0px;
			margin:0px;
			width:44px;
			border:1px solid @borderColor;
		}
	}
}
.topSearch {
	margin:0px;
	padding:0px;
	width:100%;
	float:left;
	button.cartButton {
		float:right;
	}
	.showCount {
		width:auto;
		float:left;
		margin:10px 0px 0px 10px;
	}
	.input-group {
		float:left;
		min-width:300px;
		.displayFlex();
		input {
			float:left;
			border-left:0px none;
			height: 44px;
			padding: 0px 0px 0px 10px;
			margin: 0px;
			.flex(1 auto);
		}
		button {
			float:left;
			padding:0px;
			margin:0px;
			width:6em;
			min-width:50px;
			border:1px solid @borderColor;
			.flex(0 1 auto);
		}
	}
}

/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------------ 2Col Inputs -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.twoColInputs {
	.flex-container-parent {
		margin:0px;
		padding:0px;
		.displayFlex();
		.flexFlow(row wrap);
		.flex(1 50%);
		justify-content:flex-start;
		.flex-container {
			.flex(1 100%);
			.inputLabel {
				.flex(0 1 45%);
			}
		}
	}
	.autoValuesBox {
		padding:0.5em 1em;
		margin:0em 0.5em 0.5em;
		.flex(0 1 100%);
		background-color:@light;
		border:1px solid rgba(0,0,0,.1);
		.autoValues {
			.flex(1 49%);
			.displayFlex();
			span {
				.flex(1 0 49%);
			}
		}
	}
	.autoValues {
		color:@labelColor;
		.value {
			color:@bodyTextColor;
			padding:0em 0em 0em .5em;
		}
	}
}

/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------- Icon Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

.iconCreate(gear, 24px, 4px 6px 0px -5px);
.iconCreate(shipping, 32px, -2px 6px 0px -5px);
.iconCreate(cart, 26px, 4px 6px 0px -5px);
.iconCreate(general, 33px, -1px 6px 0px -7px);
.iconCreate(recentDocs, 30px, 0px 4px 0px -8px);
.iconCreate(chartPie, 28px, 1px 6px 0px -6px);
.iconCreate(activeReq, 28px, 1px 7px 0px -3px);
.iconCreate(note, 30px, 1px 7px 0px -5px);
.icon-login-user,.icon-login-pass,.icon-login-org  {
	width:44px;
	height:44px;
	.boxSizing();
	object {
		width: 44px;
		height: 44px;
		border: 1px solid #AAA;
		border-right-width: 0px;
		padding: 0.35em;
		.boxSizing();
		margin:5px 0em 0em;
	}
}
.icon-login-org {
	object {
		border-color:rgba(170, 170, 170, 0.6);
	}
}

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Grid System Base ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.grid-container:after,
.grid-5:after, .mobile-grid-5:after, .tablet-grid-5:after,
.grid-10:after, .mobile-grid-10:after, .tablet-grid-10:after,
.grid-15:after, .mobile-grid-15:after, .tablet-grid-15:after,
.grid-20:after, .mobile-grid-20:after, .tablet-grid-20:after,
.grid-25:after, .mobile-grid-25:after, .tablet-grid-25:after,
.grid-30:after, .mobile-grid-30:after, .tablet-grid-30:after,
.grid-35:after, .mobile-grid-35:after, .tablet-grid-35:after,
.grid-40:after, .mobile-grid-40:after, .tablet-grid-40:after,
.grid-45:after, .mobile-grid-45:after, .tablet-grid-45:after,
.grid-50:after, .mobile-grid-50:after, .tablet-grid-50:after,
.grid-55:after, .mobile-grid-55:after, .tablet-grid-55:after,
.grid-60:after, .mobile-grid-60:after, .tablet-grid-60:after,
.grid-65:after, .mobile-grid-65:after, .tablet-grid-65:after,
.grid-70:after, .mobile-grid-70:after, .tablet-grid-70:after,
.grid-75:after, .mobile-grid-75:after, .tablet-grid-75:after,
.grid-80:after, .mobile-grid-80:after, .tablet-grid-80:after,
.grid-85:after, .mobile-grid-85:after, .tablet-grid-85:after,
.grid-90:after, .mobile-grid-90:after, .tablet-grid-90:after,
.grid-95:after, .mobile-grid-95:after, .tablet-grid-95:after,
.grid-100:after, .mobile-grid-100:after, .tablet-grid-100:after,
.grid-33:after, .mobile-grid-33:after, .tablet-grid-33:after,
.grid-66:after, .mobile-grid-66:after, .tablet-grid-66:after,
.clearfix:after { clear: both; }
.grid-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding:0px;
}
.grid-5, .mobile-grid-5, .tablet-grid-5,
.grid-10, .mobile-grid-10, .tablet-grid-10,
.grid-15, .mobile-grid-15, .tablet-grid-15,
.grid-20, .mobile-grid-20, .tablet-grid-20,
.grid-25, .mobile-grid-25, .tablet-grid-25,
.grid-30, .mobile-grid-30, .tablet-grid-30,
.grid-35, .mobile-grid-35, .tablet-grid-35,
.grid-40, .mobile-grid-40, .tablet-grid-40,
.grid-45, .mobile-grid-45, .tablet-grid-45,
.grid-50, .mobile-grid-50, .tablet-grid-50,
.grid-55, .mobile-grid-55, .tablet-grid-55,
.grid-60, .mobile-grid-60, .tablet-grid-60,
.grid-65, .mobile-grid-65, .tablet-grid-65,
.grid-70, .mobile-grid-70, .tablet-grid-70,
.grid-75, .mobile-grid-75, .tablet-grid-75,
.grid-80, .mobile-grid-80, .tablet-grid-80,
.grid-85, .mobile-grid-85, .tablet-grid-85,
.grid-90, .mobile-grid-90, .tablet-grid-90,
.grid-95, .mobile-grid-95, .tablet-grid-95,
.grid-100, .tablet-grid-100, .mobile-grid-100,
.grid-33, .mobile-grid-33, .tablet-grid-33,
.grid-66, .mobile-grid-66, .tablet-grid-66 {
	.boxSizing();
	padding:0px;
}
.row {
	padding:0px;
	float:left;
	width:100%;
}
[class*="grid"] [class*="grid"] {
	padding:0px;
}

@import "responsive";
