/*--------------------------     LESS VARIABLES    ------------------------------*/
/* Primary color of Icons, Req Numbers, Headings, Body Text Color etc. */
@primary :#FF5D00;
@headingColor :#FF5D00;
@bodyTextColor :#555;
@labelColor :#CC3500;
@borderColor: #AAA;



/* Portlet Background Color */
@light: #FFFFFF;

/* Page and Navigation Background Color */
@backgroundColorStart: #DFDDDD;
@backgroundColorEnd: #EEE;

/* Input Colors */
@inputBg: #FFFFFF;


/* Icon Colors */
@primaryIcon: #FF5D00;
@secondaryIcon: #CC3500;

/*----------------------------     LESS MIXINS    -------------------------------*/

.transition( @time ) {
	-webkit-transition: all @time;
	-moz-transition: all @time;
	transition: all @time;
}
.boxSizing( @value: border-box ) {
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}
.shadow(@shadows...) {
	-webkit-box-shadow: @shadows;
	-moz-box-shadow: @shadows;
	box-shadow: @shadows;
}
.borderRadius(@pixel...) {
	-webkit-border-radius: @pixel;
	-moz-border-radius: @pixel;
	border-radius: @pixel;
}
.displayFlex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flexFlow(@rowCol...) {
	-webkit-flex-flow: @rowCol;
	-moz-flex-flow: @rowCol;
	-ms-flex-flow: @rowCol;
	flex-flow: @rowCol;
}
.flex(@basis...) {
	-webkit-flex: @basis;
	-moz-flex: @basis;
	-ms-flex:@basis;
	flex: @basis;
}
.order(@value) {
	-webkit-order: @value;
	-moz-order: @value;
	-ms-flex-order:@value;
	order: @value;
}
.ellipsis() {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.iconCreate(@classname, @size, @margin) {
	.icon-@{classname} {
		width: @size;
		height: @size;
		float: left;
		margin: @margin;
		object {
			width:@size;
			height:@size;
		}
	}
}
.gradient(@place, @percent1, @percent2) {
	background: -moz-linear-gradient(@place, @backgroundColorStart @percent1, @backgroundColorEnd @percent2);
	background: -webkit-gradient(@place, color-stop(@percent1,@backgroundColorStart), color-stop(@percent2,@backgroundColorEnd));
	background: -webkit-linear-gradient(@place, @backgroundColorStart @percent1,@backgroundColorEnd @percent2);
	background: -o-linear-gradient(@place, @backgroundColorStart @percent1,@backgroundColorEnd @percent2);
	background: -ms-linear-gradient(@place, @backgroundColorStart @percent1,@backgroundColorEnd @percent2);
	background: linear-gradient(@place, @backgroundColorStart @percent1,@backgroundColorEnd @percent2);
}
.gridSystem(@classname, @percent) {
	.grid-@{classname} { float: left;width: @percent; }
	.prefix-@{classname} { margin-left: @percent; }
	.suffix-@{classname} { margin-right: @percent; }
	.push-@{classname} { left: @percent; }
	.pull-@{classname} { left: -@percent; }
}
.gridSystemTablet(@classname, @percent) {
	.tablet-grid-@{classname} { float: left;width: @percent; }
	.tablet-prefix-@{classname} { margin-left: @percent; }
	.tablet-suffix-@{classname} { margin-right: @percent; }
	.tablet-push-@{classname} { left: @percent; }
	.tablet-pull-@{classname} { left: -@percent; }
}
.gridSystemMobile(@classname, @percent) {
	.mobile-grid-@{classname} { float: left;width: @percent; }
	.mobile-prefix-@{classname} { margin-left: @percent; }
	.mobile-suffix-@{classname} { margin-right: @percent; }
	.mobile-push-@{classname} { left: @percent; }
	.mobile-pull-@{classname} { left: -@percent; }
}