
@desktop: ~"only screen and (min-width: 991px)";
@tablet: ~"only screen and (min-width: 641px) and (max-width: 990px)";
@mobile: ~"only screen and (max-width: 640px)";

@media @desktop {
	.desktop-left { text-align:left !important; }
	.desktop-right { text-align:right !important; }
	/*----------------  Desktop Grid  -----------------*/
	.push-5, .pull-5, .push-10, .pull-10, .push-15,
	.pull-15, .push-20, .pull-20, .push-25, .pull-25,
	.push-30, .pull-30, .push-35, .pull-35, .push-40,
	.pull-40, .push-45, .pull-45, .push-50, .pull-50,
	.push-55, .pull-55, .push-60, .pull-60, .push-65,
	.pull-65, .push-70, .pull-70, .push-75, .pull-75,
	.push-80, .pull-80, .push-85, .pull-85, .push-90,
	.pull-90, .push-95, .pull-95, .push-33, .pull-33,
	.push-66, .pull-66 { position: relative; }
	.hide-on-desktop { display: none !important; }
	.gridSystem(5, 5%);
	.gridSystem(10, 10%);
	.gridSystem(15, 15%);
	.gridSystem(20, 20%);
	.gridSystem(25, 25%);
	.gridSystem(30, 30%);
	.gridSystem(35, 35%);
	.gridSystem(40, 40%);
	.gridSystem(45, 45%);
	.gridSystem(50, 50%);
	.gridSystem(55, 55%);
	.gridSystem(60, 60%);
	.gridSystem(65, 65%);
	.gridSystem(70, 70%);
	.gridSystem(75, 75%);
	.gridSystem(80, 80%);
	.gridSystem(85, 85%);
	.gridSystem(90, 90%);
	.gridSystem(95, 95%);
	.gridSystem(33, 33.333333%);
	.gridSystem(66, 66.666667%);
	.grid-100 { clear: both;width: 100%; }
	/*--------------  End of Desktop Grid  --------------*/
}

@media @tablet {
	h1 { font-size:1.45em; }
	h3 { font-size:1.05em; }
	.tablet-left { text-align:left !important; }
	.tablet-right { text-align:right !important; }
	/*------------------  Dashboard  ------------------*/
	.portletScreen {
		ul {
			&.four-column-list {
				.details {
					.flex(2 1 22%);
					min-width:150px;
					width:auto;
				}
			}
		}
	}
	/*----------------  End Dashboard  ----------------*/
	/*-----------------  Tablet Grid  -----------------*/
	.tablet-push-5, .tablet-pull-5, .tablet-push-10, .tablet-pull-10, .tablet-push-15,
	.tablet-pull-15, .tablet-push-20, .tablet-pull-20, .tablet-push-25, .tablet-pull-25,
	.tablet-push-30, .tablet-pull-30, .tablet-push-35, .tablet-pull-35, .tablet-push-40,
	.tablet-pull-40, .tablet-push-45, .tablet-pull-45, .tablet-push-50, .tablet-pull-50,
	.tablet-push-55, .tablet-pull-55, .tablet-push-60, .tablet-pull-60, .tablet-push-65,
	.tablet-pull-65, .tablet-push-70, .tablet-pull-70, .tablet-push-75, .tablet-pull-75,
	.tablet-push-80, .tablet-pull-80, .tablet-push-85, .tablet-pull-85, .tablet-push-90,
	.tablet-pull-90, .tablet-push-95, .tablet-pull-95, .tablet-push-33, .tablet-pull-33,
	.tablet-push-66, .tablet-pull-66 { position: relative; }
	.hide-on-tablet { display: none !important; }
	.gridSystemTablet(5, 5%);
	.gridSystemTablet(10, 10%);
	.gridSystemTablet(15, 15%);
	.gridSystemTablet(20, 20%);
	.gridSystemTablet(25, 25%);
	.gridSystemTablet(30, 30%);
	.gridSystemTablet(35, 35%);
	.gridSystemTablet(40, 40%);
	.gridSystemTablet(45, 45%);
	.gridSystemTablet(50, 50%);
	.gridSystemTablet(55, 55%);
	.gridSystemTablet(60, 60%);
	.gridSystemTablet(65, 65%);
	.gridSystemTablet(70, 70%);
	.gridSystemTablet(75, 75%);
	.gridSystemTablet(80, 80%);
	.gridSystemTablet(85, 85%);
	.gridSystemTablet(90, 90%);
	.gridSystemTablet(95, 95%);
	.gridSystemTablet(33, 33.333333%);
	.gridSystemTablet(66, 66.666667%);
	.tablet-grid-100 { clear: both;width: 100%; }
	/*--------------  End of Tablet Grid  -------------*/
}


/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Mobile Screens ------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

@media @mobile {
	body { font-size:1em }
	h1 { font-size:1.3em; }
	h3 { font-size:1.02em; }
	.mobile-left { text-align:left !important; }
	.mobile-right { text-align:right !important; }
	.mobile-grid-100 { padding:0px; }
	input[type="date"], input[type="tel"] { max-width:none !important; }
	input[type="text"], input[type="password"],
	input[type="search"], input[type="date"],
	input[type="number"], input[type="email"],
	input[type="tel"], input[type="url"], textarea {
		min-height:40px;
		min-width:44px;
	}
	/*---------------  Main Navigation  ---------------*/
	.MainNavigation {
		a {
			padding: 0.9em 1em;
			border-left: 1px solid rgba(0, 0, 0, 0.1);
			font-size:0.9em;
		}
		a:first-of-type {
			padding:0em 0.65em 0em .35em;
			img {
				height:45px;
				width:45px;
			}
		}
	}
	/*-------------  End Main Navigation  -------------*/
	/*------------------  Dashboard  ------------------*/
	article.flex-item {
		margin: 0.8em 0.35em 0em 0.35em;
		border: 1px solid rgba(0, 0, 0, 0.2);
		.shadow(0px 0px 2px rgba(0,0,0,0.1));
		&.headingInfo {
			margin:0.8em 0em 0em;
			.flexFlow(column wrap);
			.reqNumber {
				padding: 0.1em 0em 0em 0.75em;
				font-size: 1.25em;
				.order(2);
			}
			h1 {
				.flex(1 0 auto);
				text-align:left;
				.order(1);
				padding:0.45em 0em 0em 0.7em;
			}
			.status {
				.flex(1 0 auto);
				.order(3);
				font-size: 0.9em;
				padding: 0.3em 0em 0.7em 1.15em;
				text-align: left;
				.boxSizing();
			}
		}
	}
	.portletScreen {
		ul {
			float:left;
			width:100%;
			&.three-column-list {
				.reqNumber, .status { width:auto; }
				.details { width:auto; }
			}
			&.three-column-list-details {
				.reqNumber, .status {
					width:auto;
					.boxSizing();
					height:25px;
					min-width:0px;
				}
				.details {
					width:auto;
					.boxSizing();
				}
			}
			li {
				width:100%;
				float:left;
				padding: .5em .4em .5em .8em;
				a {
					width:100%;
					.boxSizing();
				}
				span {
					padding:0px;
					min-width:0px;
					width:auto;
				}
				&.withLabel {
					padding:0em 0em .5em;
					border-bottom:1px solid @labelColor;
				}
				.status {
					float:right;
					font-size:0.75em;
					background-color:transparent;
					font-weight:700;
					padding: 0.9em 1.05em 0.4em;
					margin:0px;
					width: auto;
					text-align:right;
					min-width:0px;
					.boxSizing();
				}
				.details {
					float:left;
					padding: 0.25em 0.8em 0em;
					.boxSizing();
					min-width:0px !important;
					width:auto !important;
					.flex(0 auto) !important;
					.detailLabel {
						padding:0em 0.5em 0em 0em;
					}
				}
				.reqNumber {
					color:@primary;
					font-weight:700;
					padding: 0.3em 0.7em 0em;
					.boxSizing();
					float:left;
					font-size:1.1em;
				}
			}
			article.flex-item {
				margin: 0.8em 0.35em 0em 0.35em;
				border: 1px solid rgba(0, 0, 0, 0.2);
				.shadow(0px 0px 2px rgba(0,0,0,0.1));
			}
			.autoValues {
				width:100%;
				float:left;
				padding:0.5em 0.5em 0em;
			}
			&.lineItemList {
				.itemNumber {
					float:left;
					font-size:1em;
					height:auto;
					background-color:transparent;
					color:@primary;
					font-weight:700;
					padding: 0.75em 0.7em 0em;
					margin:0px;
					border-bottom:0px none transparent;
					width: auto;
					text-align: left;
					.boxSizing();
				}
				.lineTotal {
					color:@primary;
					font-weight:700;
					padding: 0.3em 0.7em 0em;
					.boxSizing();
					float:right;
					font-size:1.25em;
					small {
						font-size:.75em;
						color:@labelColor;
						padding:0em 0em 0em 0.25em;
					}
					&.totals {
						width:100%;
						text-align:right;
						small:first-of-type {
							padding:0em 0.25em 0em 0em;
						}
					}
				}
				.details {
					white-space:normal;
				}
			}
		}
		
	}
	/*----------------  End Dashboard  ----------------*/
	/*-----------------  2Col Inputs  -----------------*/
	.twoColInputs {
		margin:0em 0.75em;
		.flex-container-parent {
			.flex(1 100%);
			.flex-container {
				.inputLabel {
					.flex(0 1 100%);
				}
				.inputLabel.errorMessage {
					display:none;
					visibility:hidden;
				}
				.errorMessage {
					.flex(1 100%);
				}
				input {
					width:100%;
				}
			}
		}
		.autoValuesBox {
			padding:0.25em 1em;
			.flex(0 1 100%);
			margin: 0.8em 0.35em 0em 0.35em;
			border: 1px solid rgba(0, 0, 0, 0.2);
			.shadow(0px 0px 2px rgba(0,0,0,0.1));
			.autoValues {
				.flex(1 100%);
			}
		}
		article.autoValuesBox {
			margin:0.5em 0em;
		}
	}
	/*---------------  End 2Col Inputs  ---------------*/
	/*---------------  Catalog Search   ---------------*/
	.topSearch {
		button.cartButton, button.filtersButton {
			float:left;
			width:50%;
			margin:.5em 0em 0em;
		}
		.showCount {
			width:auto;
			float:left;
			margin:10px 0px 0px 10px;
		}
		.input-group {
			float:left;
			width:100%;
			.displayFlex();
			input {
				float:left;
				border-left:0px none;
				height: 44px;
				padding: 0px 0px 0px 10px;
				margin: 0px;
				.flex(1 auto);
			}
			button {
				float:left;
				padding:0px;
				margin:0px;
				width:6em;
				min-width:50px;
				border:2px solid @labelColor;
				border-right-width:1px;
				.flex(0 1 auto);
			}
		}
	}
	/*-------------  End Catalog Search   -------------*/
	.loginOuterParent {
		.loginInnerParent {
			vertical-align:top;
			.loginPage {
				width:100%;
				margin:0px;
				min-width:0px;
				max-width:none;
				background-color:@light;
				padding:1em 0em;
				text-align:center;
				border:0px none;
				.boxSizing();
				.shadow(0px 0px 0px transparent);
				article {
					&.inputs {
						label {
							span {
								margin:0em;
							}
							input {
								max-width:none;
							}
						}
					}
					&.langSelect {
						padding:0.65em 0em 1.25em;
						label {
							margin:0px;
							padding:0px;
						}	
					}
					&.forgotPass {
						padding:0.5em 0em 0.25em;
					}
					&.btnGroup {
						margin:0em auto;
						padding:0em;
						min-width:220px;
						max-width:none;
						button {
							border-right-width:0px;
							width:50%;
						}
						button:last-child {
							border-right-width:1px;
						}
					}
					&.logo {
						img {
							width:100%;
							max-width:360px;
							height:auto;
						}
					}
				}
			}
		}
	}
	/*-----------------  Mobile Grid  -----------------*/
	.mobile-push-5, .mobile-pull-5, .mobile-push-10, .mobile-pull-10,
	.mobile-push-15, .mobile-pull-15, .mobile-push-20, .mobile-pull-20,
	.mobile-push-25, .mobile-pull-25, .mobile-push-30, .mobile-pull-30,
	.mobile-push-35, .mobile-pull-35, .mobile-push-40, .mobile-pull-40,
	.mobile-push-45, .mobile-pull-45, .mobile-push-50, .mobile-pull-50,
	.mobile-push-55, .mobile-pull-55, .mobile-push-60, .mobile-pull-60,
	.mobile-push-65, .mobile-pull-65, .mobile-push-70, .mobile-pull-70,
	.mobile-push-75, .mobile-pull-75, .mobile-push-80, .mobile-pull-80,
	.mobile-push-85, .mobile-pull-85, .mobile-push-90, .mobile-pull-90,
	.mobile-push-95, .mobile-pull-95, .mobile-push-33, .mobile-pull-33,
	.mobile-push-66, .mobile-pull-66 { position: relative; }
	.hide-on-mobile { display: none !important; }
	.gridSystemMobile(5, 5%);
	.gridSystemMobile(10, 10%);
	.gridSystemMobile(15, 15%);
	.gridSystemMobile(20, 20%);
	.gridSystemMobile(25, 25%);
	.gridSystemMobile(30, 30%);
	.gridSystemMobile(35, 35%);
	.gridSystemMobile(40, 40%);
	.gridSystemMobile(45, 45%);
	.gridSystemMobile(50, 50%);
	.gridSystemMobile(55, 55%);
	.gridSystemMobile(60, 60%);
	.gridSystemMobile(65, 65%);
	.gridSystemMobile(70, 70%);
	.gridSystemMobile(75, 75%);
	.gridSystemMobile(80, 80%);
	.gridSystemMobile(85, 85%);
	.gridSystemMobile(90, 90%);
	.gridSystemMobile(95, 95%);
	.gridSystemMobile(33, 33.333333%);
	.gridSystemMobile(66, 66.666667%);
	.mobile-grid-100 { clear: both;width: 100%; }
	/*--------------  End of Mobile Grid  -------------*/
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Print ----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: 0px 0px 0px none !important;
		text-shadow: 0px 0px 0px none !important;
	}
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	/* Don't show links for images, or javascript/internal links */
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; /* h5bp.com/t */ }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}