@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic,400italic);
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
    1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
        `em` units.
    2. Prevent iOS text size adjust after orientation change, without disabling
        user zoom.
*/
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Address `font-family` inconsistency between `textarea` and other form elements. */
html,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}
/* Address margins handled incorrectly in IE 6/7. */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
    Address font sizes and margins set differently in IE 6/7.
    Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
    and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/* Address styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}
/* Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/* Address styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic;
}
/* Address differences between Firefox and other browsers. Known issue: no IE 6/7 normalization. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/* Address styling not present in IE 6/7/8/9. */
mark {
  background: #ff0;
  color: #000;
}
/*
    Address margins set differently in IE 6/7.
*/
p,
pre {
  margin: 1em 0;
}
/*
    Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
    Improve readability of pre-formatted text in all browsers.
*/
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
    Address CSS quotes not supported in IE 6/7.
*/
q {
  quotes: none;
}
/*
    Address `quotes` property not supported in Safari 4.
*/
q:before,
q:after {
  content: '';
  content: none;
}
/*
    Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
    Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
    Address margins set differently in IE 6/7.
*/
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
    Address paddings set differently in IE 6/7.
*/
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
    Correct list images handled incorrectly in IE 7.
*/
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
    1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
    2. Improve image quality when scaled in IE 7.
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
    Correct overflow displayed oddly in IE 9.
*/
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
    Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
*/
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
    Correct margin displayed oddly in IE 6/7.
*/
form {
  margin: 0;
}
/*
    Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
    1. Correct color not being inherited in IE 6/7/8/9.
    2. Correct text not wrapping in Firefox 3.
    3. Correct alignment displayed oddly in IE 6/7.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
    1. Correct font size not being inherited in all browsers.
    2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
        and Chrome.
    3. Improve appearance and consistency in all browsers.
*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
    Address Firefox 3+ setting `line-height` on `input` using `!important` in
    the UA stylesheet.
*/
button,
input {
  line-height: normal;
}
/*
    Address inconsistent `text-transform` inheritance for `button` and `select`.
    All other form control elements do not inherit `text-transform` values.
    Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
    Correct `select` style inheritance in Firefox 4+ and Opera.
*/
button,
select {
  text-transform: none;
}
/*
    1. Avoid the WebKit bug in Android 4.0. where (2) destroys native `audio`
        and `video` controls.
    2. Correct inability to style clickable `input` types in iOS.
    3. Improve usability and consistency of cursor style between image-type
        `input` and others.
    4. Remove inner spacing in IE 7 without affecting normal text inputs.
        Known issue: inner spacing remains in IE 6.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
    Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}
/*
    1. Address box sizing set to content-box in IE 8/9.
    2. Remove excess padding in IE 8/9.
    3. Remove excess padding in IE 7.
        Known issue: excess padding remains in IE 6.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
    1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
    2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
        (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
    Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
    Remove inner padding and border in Firefox 3+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
    1. Remove default vertical scrollbar in IE 6/7/8/9.
    2. Improve readability and alignment in all browsers.
*/
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
    Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------------------     LESS VARIABLES    ------------------------------*/
/* Primary color of Icons, Req Numbers, Headings, Body Text Color etc. */
/* Portlet Background Color */
/* Page and Navigation Background Color */
/* Input Colors */
/* Icon Colors */
/*----------------------------     LESS MIXINS    -------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Basic Page Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
  color: #555555;
  background: -moz-linear-gradient(top, #dfdddd 0%, #eeeeee 100%);
  background: -webkit-gradient(top, color-stop(0%, #dfdddd), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #dfdddd 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #dfdddd 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #dfdddd 0%, #eeeeee 100%);
  background: linear-gradient(top, #dfdddd 0%, #eeeeee 100%);
  background-repeat: no-repeat;
  background-color: #eeeeee;
}
h1 {
  font-size: 1.5em;
  font-weight: 700;
  padding: .3em .6em;
  margin: 0px;
  color: #ff5d00;
}
h3 {
  font-size: 1.15em;
  font-weight: 700;
  padding: .3em .6em;
  margin: 0px;
  color: #ff5d00;
}
label {
  font-size: 1em;
  font-weight: 500;
  padding: 5px 5px 5px 0px;
  margin: 0px;
  color: #cc3500;
}
label .value {
  color: #555555;
}
label .inputLabel {
  padding: 0.7em 0.25em 0em 0em;
}
p,
td {
  font-size: 1em;
  font-weight: 400;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
}
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  color: #555555;
}
a:hover,
a:active,
a:focus {
  color: #ff5d00;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
::-moz-selection {
  background: #ff5d00;
  text-shadow: none;
}
::selection {
  background: #ff5d00;
  text-shadow: none;
}
.primaryIconColor {
  fill: #ff5d00;
}
.secondaryIconColor {
  fill: #cc3500;
}
.status {
  color: #ff5d00;
}
.detailLabel {
  color: #cc3500;
  padding: 0em .3em 0em 0em;
}
header.ng-scope,
div.container.ng-scope,
footer.ng-scope {
  max-width: 1400px;
  margin: 0px auto;
}
.errorMessage {
  text-align: left;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  color: #AA3333;
  font-weight: 400;
}
/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- General Class Styles ----------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/* Don't allow other elements to float to either side */
.clear {
  clear: both;
}
/* Hide an element and do not keep its place */
.hide {
  display: none;
  visibility: hidden;
}
/* Show an element that has been hidden */
.show {
  display: block;
  visibility: visible;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Align text to the left, center, or right */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/* Control how bold the text is */
.lightest {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 500;
}
.bolder {
  font-weight: 700;
}
.boldest {
  font-weight: 900;
}
/* Add or remove an underline from text */
.underline {
  text-decoration: underline;
}
.noUnderline {
  text-decoration: none;
}
/* Make text italic */
.italic {
  font-style: italic;
}
/* Make text lowercase, uppercase, or capitalize each word */
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
/* Remove padding or margin from element */
.noPadding {
  padding: 0px;
}
.noMargin {
  margin: 0px;
}
/* Make text overflow to ellipsis if box is smaller than text line length */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* Remove border or bullets from element */
.noBorder {
  border: 0px none;
}
.noBullets {
  list-style: none;
}
/* Float element to the left or right */
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
/* Cursor styles: pointer or move */
.pointer,
button,
.btn {
  cursor: pointer;
}
.move {
  cursor: move;
}
/* Use on the parent of floated elements if you do not want the parent element to collapse */
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Inputs and Forms ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
input[type="text"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  margin: 5px 0px;
  padding: 6px;
  border: 1px solid #aaaaaa;
  font-size: .85em;
  outline: none;
  color: #cc3500;
  min-width: 190px;
  background-color: #ffffff;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
textarea:hover {
  border-color: #cc3500;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #ff5d00;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
input[type="text"]:required:invalid,
input[type="password"]:required:invalid,
input[type="search"]:required:invalid,
input[type="date"]:required:invalid,
input[type="number"]:required:invalid,
input[type="email"]:required:invalid,
input[type="tel"]:required:invalid,
input[type="url"]:required:invalid,
textarea:required:invalid {
  background-image: url(../images/icons/media_record.svg);
  background-size: auto 65%;
  background-position: 4px center;
  background-repeat: no-repeat;
  padding-left: 32px;
}
input[type="text"]:focus:invalid,
input[type="password"]:focus:invalid,
input[type="search"]:focus:invalid,
input[type="date"]:focus:invalid,
input[type="number"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="tel"]:focus:invalid,
input[type="url"]:focus:invalid,
textarea:focus:invalid {
  background-image: url(../images/icons/sign_forbidden.svg);
  background-size: auto 65%;
  background-position: 7px center;
  background-repeat: no-repeat;
  border-color: darkred;
  padding-left: 32px;
}
input[type="text"]:required:valid,
input[type="password"]:required:valid,
input[type="search"]:required:valid,
input[type="date"]:required:valid,
input[type="number"]:required:valid,
input[type="email"]:required:valid,
input[type="tel"]:required:valid,
input[type="url"]:required:valid,
textarea:required:valid {
  background-image: url(../images/icons/check.svg);
  background-size: auto 65%;
  background-position: 7px center;
  background-repeat: no-repeat;
  padding-left: 32px;
}
input[type="text"].errorInput,
input[type="password"].errorInput,
input[type="search"].errorInput,
input[type="date"].errorInput,
input[type="number"].errorInput,
input[type="email"].errorInput,
input[type="tel"].errorInput,
input[type="url"].errorInput,
textarea.errorInput {
  border-color: #AA3333;
  background-color: #FFEEEE;
  color: #AA3333;
  font-weight: 700;
}
input[readonly],
textarea[readonly],
input[readonly]:hover,
textarea[readonly]:hover,
input[readonly]:focus,
textarea[readonly]:focus,
input[readonly]:active,
textarea[readonly]:active {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(170, 170, 170, 0.6);
  color: rgba(204, 53, 0, 0.7);
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
}
input[type="date"] {
  font-family: 'Roboto', sans-serif;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0px 10px 0px 0px;
}
input[type="range"] {
  margin: 0px 5px;
}
input[type="date"],
input[type="tel"] {
  max-width: 160px;
}
textarea {
  resize: vertical;
}
/*-----------------------------------------------------------------------------------------*/
/*---------------------------------------- Buttons ----------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
button {
  padding: 0px 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ff5d00;
  color: #ffffff;
  font-size: .9em;
  min-height: 44px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover {
  background-color: #cc4a00;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
button:active {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
button:focus {
  outline: none;
}
article.btnGroup {
  margin: 0px;
  padding: 10px 0px;
}
article.btnGroup button {
  border-right-width: 0px;
  float: left;
}
article.btnGroup button:last-child {
  border-right-width: 1px;
}
/*----------------------------------------------------------------------------------------*/
/*---------------------------------------- Tables ----------------------------------------*/
/*----------------------------------------------------------------------------------------*/
table {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
table.full-width {
  width: 100%;
  max-width: 100%;
}
table tr {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}
table tr:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}
table tr td[class="labelCell"] {
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding: 7px 7px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
table tr td {
  padding: 0px 0px 0px 10px;
  height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table tr td,
table tr td a {
  color: #cc3500;
  font-weight: 300;
}
table tr th {
  padding: .35em .45em;
  text-align: left;
  background-color: #ff5d00;
  color: #ffffff;
  text-shadow: 0px 0px transparent;
  font-weight: 400;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -10px 10px -5px rgba(0, 0, 0, 0.1);
}
/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------- Alert Boxes ----------------------------------------*/
/*---------------------------------------------------------------------------------------------*/
article.alert,
article.alert-important {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.alert h5,
article.alert-important h5 {
  margin: 0px;
  padding: .4em 1em;
  width: 100%;
  color: #ffffff;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.alert h5 button,
article.alert-important h5 button {
  float: right;
  color: #ffffff;
  width: 2.2em;
  height: 2.2em;
  min-height: 0px;
  text-align: center;
  margin: -0.5em -1em 0px 0px;
  padding: 0px;
  font-size: 1em;
  border: 0px none;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.alert h5 button:hover,
article.alert-important h5 button:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}
article.alert h5 button:active,
article.alert-important h5 button:active,
article.alert h5 button:focus,
article.alert-important h5 button:focus {
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
}
article.alert p,
article.alert-important p {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.alert {
  border: 2px solid #cc3500;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
article.alert h5 {
  background-color: #cc3500;
}
article.alert p {
  color: #cc3500;
}
article.alert-important {
  border: 2px solid #ff5d00;
  -webkit-box-shadow: 0px 0px 5px #e65400;
  -moz-box-shadow: 0px 0px 5px #e65400;
  box-shadow: 0px 0px 5px #e65400;
}
article.alert-important h5 {
  background-color: #ff5d00;
}
article.alert-important p {
  color: #e65400;
}
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------- Badge Styling ----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
.badge {
  padding: .3em .5em;
  border-radius: 15px;
  margin: 0em -0.4em 0em 0.7em;
  background-color: #ffffff;
  text-shadow: 0px 0px 0px transparent;
  font-weight: 900;
}
.badge-white {
  color: #ff5d00;
}
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------- Page Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
article.flex-item {
  margin: .5em;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
article.headingInfo {
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
article.headingInfo .reqNumber {
  color: #ff5d00;
  font-weight: 700;
  padding: 0.3em 0.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  font-size: 1.4em;
}
article.headingInfo h1 {
  -webkit-flex: 4 1 auto;
  -moz-flex: 4 1 auto;
  -ms-flex: 4 1 auto;
  flex: 4 1 auto;
  text-align: center;
  padding: 0.3em 0em 0em;
}
article.headingInfo .status {
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  text-align: right;
  padding: .7em 1em 0em;
  font-weight: 700;
}
.MainNavigation a {
  padding: .8em 1.4em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.MainNavigation a:first-of-type {
  padding: 0em 1.4em;
  border: 0px none;
}
.portlet-heading {
  -webkit-box-shadow: inset 0px -10px 15px -15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -10px 15px -15px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -10px 15px -15px rgba(0, 0, 0, 0.25);
}
footer {
  width: 100%;
  padding: 1.25em 2.5em 2em 2.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portletScreen svg {
  width: 100%;
  height: 360px;
}
.portletScreen ul {
  /* Columns set up for ul's to look like tables */
}
.portletScreen ul .listHeader {
  -webkit-box-shadow: inset 0px -12px 15px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -12px 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -12px 15px -10px rgba(0, 0, 0, 0.2);
  padding: 0.5em 0em;
  border-bottom: 2px solid #aaaaaa;
}
.portletScreen ul .listHeader .headerLabel,
.portletScreen ul .listHeader .headerLabel:hover,
.portletScreen ul .listHeader .headerLabel:active,
.portletScreen ul .listHeader .headerLabel:focus {
  font-size: 1em;
  font-weight: 400;
  color: #555555;
  padding: 0em 0em 0em .8em;
}
.portletScreen ul .listHeader .headerLabel.status,
.portletScreen ul .listHeader .headerLabel:hover.status,
.portletScreen ul .listHeader .headerLabel:active.status,
.portletScreen ul .listHeader .headerLabel:focus.status {
  padding: 0em;
  min-width: 6.75em;
}
.portletScreen ul.three-column-list .reqNumber,
.portletScreen ul.three-column-list .status {
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portletScreen ul.three-column-list .details {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portletScreen ul.four-column-list a,
.portletScreen ul.five-column-list a,
.portletScreen ul.six-column-list a,
.portletScreen ul.seven-column-list a {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.portletScreen ul.four-column-list span,
.portletScreen ul.five-column-list span,
.portletScreen ul.six-column-list span,
.portletScreen ul.seven-column-list span,
.portletScreen ul.four-column-list .reqNumber,
.portletScreen ul.five-column-list .reqNumber,
.portletScreen ul.six-column-list .reqNumber,
.portletScreen ul.seven-column-list .reqNumber,
.portletScreen ul.four-column-list .status,
.portletScreen ul.five-column-list .status,
.portletScreen ul.six-column-list .status,
.portletScreen ul.seven-column-list .status {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  width: auto;
}
.portletScreen ul.four-column-list span span,
.portletScreen ul.five-column-list span span,
.portletScreen ul.six-column-list span span,
.portletScreen ul.seven-column-list span span,
.portletScreen ul.four-column-list .reqNumber span,
.portletScreen ul.five-column-list .reqNumber span,
.portletScreen ul.six-column-list .reqNumber span,
.portletScreen ul.seven-column-list .reqNumber span,
.portletScreen ul.four-column-list .status span,
.portletScreen ul.five-column-list .status span,
.portletScreen ul.six-column-list .status span,
.portletScreen ul.seven-column-list .status span {
  width: auto;
  min-width: 0px;
}
.portletScreen ul.four-column-list .details,
.portletScreen ul.five-column-list .details,
.portletScreen ul.six-column-list .details,
.portletScreen ul.seven-column-list .details {
  width: auto;
}
.portletScreen ul.four-column-list span,
.portletScreen ul.four-column-list .reqNumber {
  min-width: 8em;
}
.portletScreen ul.four-column-list .status {
  min-width: 9em;
}
.portletScreen ul.four-column-list .details {
  -webkit-flex: 2 1 25%;
  -moz-flex: 2 1 25%;
  -ms-flex: 2 1 25%;
  flex: 2 1 25%;
  min-width: 150px;
}
.portletScreen ul.five-column-list span,
.portletScreen ul.five-column-list .reqNumber {
  min-width: 8em;
}
.portletScreen ul.five-column-list .status {
  min-width: 9em;
}
.portletScreen ul.five-column-list .details {
  -webkit-flex: 2 1 19%;
  -moz-flex: 2 1 19%;
  -ms-flex: 2 1 19%;
  flex: 2 1 19%;
  min-width: 125px;
}
.portletScreen ul.six-column-list span,
.portletScreen ul.six-column-list .reqNumber {
  min-width: 8em;
}
.portletScreen ul.six-column-list .status {
  min-width: 9em;
}
.portletScreen ul.six-column-list .details {
  -webkit-flex: 2 1 15%;
  -moz-flex: 2 1 15%;
  -ms-flex: 2 1 15%;
  flex: 2 1 15%;
  min-width: 110px;
}
.portletScreen ul.seven-column-list span,
.portletScreen ul.seven-column-list .reqNumber {
  min-width: 8em;
}
.portletScreen ul.seven-column-list .status {
  min-width: 9em;
}
.portletScreen ul.seven-column-list .details {
  -webkit-flex: 2 1 11%;
  -moz-flex: 2 1 11%;
  -ms-flex: 2 1 11%;
  flex: 2 1 11%;
  min-width: 89px;
}
.portletScreen ul li {
  padding: .2em .4em .2em .8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portletScreen ul li:last-of-type {
  border-bottom: 0px none transparent;
}
.portletScreen ul li.withLabel {
  padding: 0.35em 0px;
  display: block;
  zoom: 1;
}
.portletScreen ul li.withLabel:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.portletScreen ul li.withLabel:last-of-type {
  border-bottom: 0px none transparent;
}
.portletScreen ul li span {
  padding: 0em 0em 0em .8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  min-width: 115px;
  width: 15%;
}
.portletScreen ul li span span {
  min-width: 0px;
  width: auto;
}
.portletScreen ul li span .detailLabel {
  color: #cc3500;
  padding: 0em .3em 0em 0em;
}
.portletScreen ul li .status {
  float: left;
  font-size: 0.75em;
  height: auto;
  font-weight: 700;
  padding: .35em 0em 0em;
  margin: 0px;
  text-align: left;
  min-width: 110px;
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portletScreen ul li .details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  min-width: 125px;
  width: 20%;
}
.portletScreen ul li .autoValues .value {
  width: auto;
  min-width: 0px;
}
.portletScreen ul.lineItemList .itemNumber {
  float: left;
  font-size: 1em;
  height: auto;
  background-color: transparent;
  color: #ff5d00;
  font-weight: 700;
  padding: 0em 0.7em 0em;
  margin: 0px;
  border-bottom: 0px none transparent;
  width: auto;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portletScreen ul.lineItemList .lineTotal {
  color: #ff5d00;
  font-weight: 700;
  padding: 0.3em 0.7em 0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  font-size: 1.25em;
  text-align: right;
  min-width: 0px;
  width: auto;
}
.portletScreen ul.lineItemList .lineTotal small {
  font-size: .75em;
  color: #cc3500;
  padding: 0em 0em 0em 0.25em;
}
.portletScreen ul.lineItemList .lineTotal.totals {
  width: 100%;
  text-align: right;
}
.portletScreen ul.lineItemList .lineTotal.totals small:first-of-type {
  padding: 0em 0.25em 0em 0em;
}
.portletScreen ul.lineItemList .details {
  white-space: normal;
}
/*------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Login ---------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.loginOuterParent {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
}
.loginOuterParent .loginInnerParent {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.loginOuterParent .loginInnerParent .loginPage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 38%;
  min-width: 450px;
  max-width: 550px;
  margin: 0px auto;
  background-color: #ffffff;
  padding: 1.75em 0em 2.5em;
  text-align: center;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.loginOuterParent .loginInnerParent .loginPage article {
  -webkit-flex: 1 1 100%;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.loginOuterParent .loginInnerParent .loginPage article.inputs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.loginOuterParent .loginInnerParent .loginPage article.inputs label {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0px auto;
  padding: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
}
.loginOuterParent .loginInnerParent .loginPage article.inputs label span {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: right;
  margin: 0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.loginOuterParent .loginInnerParent .loginPage article.inputs label input {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  max-width: 220px;
  height: 44px;
}
.loginOuterParent .loginInnerParent .loginPage article.inputs label input:focus:invalid {
  background-image: none;
  border-color: #ff5d00;
  padding-left: 6px;
}
.loginOuterParent .loginInnerParent .loginPage article.langSelect {
  padding: 0.65em 0em 1.25em;
}
.loginOuterParent .loginInnerParent .loginPage article.langSelect label {
  margin: 0px;
  padding: 0px;
}
.loginOuterParent .loginInnerParent .loginPage article.forgotPass {
  padding: 0.75em 0em 0.25em;
}
.loginOuterParent .loginInnerParent .loginPage article.btnGroup {
  margin: 0em auto;
  padding: 0em;
  min-width: 220px;
  max-width: 400px;
}
.loginOuterParent .loginInnerParent .loginPage article.btnGroup button {
  border-right-width: 0px;
  width: 50%;
}
.loginOuterParent .loginInnerParent .loginPage article.btnGroup button:last-child {
  border-right-width: 1px;
}
.loginOuterParent .loginInnerParent .loginPage article.logo {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.loginOuterParent .loginInnerParent .loginPage article.logo img {
  width: 336px;
  height: 100px;
}
.loginOuterParent .loginInnerParent .loginPage article.logo h1 {
  margin: 0.5em 0em 0.9em;
  padding: .4em 0em;
  width: 100%;
  font-size: 1.2em;
  background-color: #ff5d00;
  color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.25), inset 0px -2px 4px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
/*------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Catalog Search ----------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.filtersArea {
  padding: 0em 0em 0em .5em !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.filtersArea .filterItem {
  float: left;
  width: 100%;
}
.filtersArea .filterItem h3 {
  padding: .5em 0em 0em 0em;
  float: left;
  width: 100%;
}
.filtersArea .filterItem .filterAttr {
  width: 100%;
  float: left;
}
.filtersArea .filterItem .filterAttr label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  float: left;
  padding: 0px;
}
.searchResults {
  float: left;
  width: 100%;
}
.item {
  margin: .5em;
  background-color: #ffffff;
  padding: 1.2em 1.2em 3.2em 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.025);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.025);
  max-width: 350px;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
.itemImage {
  text-align: center;
  width: 100%;
  min-height: 215px;
}
.itemImage img {
  max-width: 200px;
  height: auto;
}
.itemNumber,
.itemSupplier,
.itemRating,
.itemDetails {
  float: left;
  clear: both;
}
.itemNumber label,
.itemSupplier label,
.itemRating label,
.itemDetails label,
.itemNumber p,
.itemSupplier p,
.itemRating p,
.itemDetails p {
  float: left;
}
.itemDetails {
  min-width: 260px;
}
.comparing {
  position: absolute;
  right: .75em;
  bottom: 1.1em;
}
.comparing input {
  margin: 0px 0px 0px 5px;
}
.itemCost {
  float: right;
  font-size: 1.15em;
  color: #ff5d00;
}
.itemCost span {
  font-size: .7em;
  color: #cc3500;
  margin: 0px 0px 0px 3px;
}
.quantity {
  position: absolute;
  left: .5em;
  bottom: .5em;
}
.quantity .input-group input {
  float: left;
  border-right: 0px none;
  height: 44px;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  width: 85px;
}
.quantity .input-group button {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 44px;
  border: 1px solid #aaaaaa;
}
.topSearch {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
}
.topSearch button.cartButton {
  float: right;
}
.topSearch .showCount {
  width: auto;
  float: left;
  margin: 10px 0px 0px 10px;
}
.topSearch .input-group {
  float: left;
  min-width: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.topSearch .input-group input {
  float: left;
  border-left: 0px none;
  height: 44px;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
}
.topSearch .input-group button {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 6em;
  min-width: 50px;
  border: 1px solid #aaaaaa;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------------ 2Col Inputs -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.twoColInputs .flex-container-parent {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex: 1 50%;
  -moz-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  justify-content: flex-start;
}
.twoColInputs .flex-container-parent .flex-container {
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}
.twoColInputs .flex-container-parent .flex-container .inputLabel {
  -webkit-flex: 0 1 45%;
  -moz-flex: 0 1 45%;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
}
.twoColInputs .autoValuesBox {
  padding: 0.5em 1em;
  margin: 0em 0.5em 0.5em;
  -webkit-flex: 0 1 100%;
  -moz-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.twoColInputs .autoValuesBox .autoValues {
  -webkit-flex: 1 49%;
  -moz-flex: 1 49%;
  -ms-flex: 1 49%;
  flex: 1 49%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.twoColInputs .autoValuesBox .autoValues span {
  -webkit-flex: 1 0 49%;
  -moz-flex: 1 0 49%;
  -ms-flex: 1 0 49%;
  flex: 1 0 49%;
}
.twoColInputs .autoValues {
  color: #cc3500;
}
.twoColInputs .autoValues .value {
  color: #555555;
  padding: 0em 0em 0em .5em;
}
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------- Icon Styling ----------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
.icon-gear {
  width: 24px;
  height: 24px;
  float: left;
  margin: 4px 6px 0px -5px;
}
.icon-gear object {
  width: 24px;
  height: 24px;
}
.icon-shipping {
  width: 32px;
  height: 32px;
  float: left;
  margin: -2px 6px 0px -5px;
}
.icon-shipping object {
  width: 32px;
  height: 32px;
}
.icon-cart {
  width: 26px;
  height: 26px;
  float: left;
  margin: 4px 6px 0px -5px;
}
.icon-cart object {
  width: 26px;
  height: 26px;
}
.icon-general {
  width: 33px;
  height: 33px;
  float: left;
  margin: -1px 6px 0px -7px;
}
.icon-general object {
  width: 33px;
  height: 33px;
}
.icon-recentDocs {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0px 4px 0px -8px;
}
.icon-recentDocs object {
  width: 30px;
  height: 30px;
}
.icon-chartPie {
  width: 28px;
  height: 28px;
  float: left;
  margin: 1px 6px 0px -6px;
}
.icon-chartPie object {
  width: 28px;
  height: 28px;
}
.icon-activeReq {
  width: 28px;
  height: 28px;
  float: left;
  margin: 1px 7px 0px -3px;
}
.icon-activeReq object {
  width: 28px;
  height: 28px;
}
.icon-note {
  width: 30px;
  height: 30px;
  float: left;
  margin: 1px 7px 0px -5px;
}
.icon-note object {
  width: 30px;
  height: 30px;
}
.icon-login-user,
.icon-login-pass,
.icon-login-org {
  width: 44px;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.icon-login-user object,
.icon-login-pass object,
.icon-login-org object {
  width: 44px;
  height: 44px;
  border: 1px solid #AAA;
  border-right-width: 0px;
  padding: 0.35em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0em 0em;
}
.icon-login-org object {
  border-color: rgba(170, 170, 170, 0.6);
}
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Grid System Base ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.grid-container:after,
.grid-5:after,
.mobile-grid-5:after,
.tablet-grid-5:after,
.grid-10:after,
.mobile-grid-10:after,
.tablet-grid-10:after,
.grid-15:after,
.mobile-grid-15:after,
.tablet-grid-15:after,
.grid-20:after,
.mobile-grid-20:after,
.tablet-grid-20:after,
.grid-25:after,
.mobile-grid-25:after,
.tablet-grid-25:after,
.grid-30:after,
.mobile-grid-30:after,
.tablet-grid-30:after,
.grid-35:after,
.mobile-grid-35:after,
.tablet-grid-35:after,
.grid-40:after,
.mobile-grid-40:after,
.tablet-grid-40:after,
.grid-45:after,
.mobile-grid-45:after,
.tablet-grid-45:after,
.grid-50:after,
.mobile-grid-50:after,
.tablet-grid-50:after,
.grid-55:after,
.mobile-grid-55:after,
.tablet-grid-55:after,
.grid-60:after,
.mobile-grid-60:after,
.tablet-grid-60:after,
.grid-65:after,
.mobile-grid-65:after,
.tablet-grid-65:after,
.grid-70:after,
.mobile-grid-70:after,
.tablet-grid-70:after,
.grid-75:after,
.mobile-grid-75:after,
.tablet-grid-75:after,
.grid-80:after,
.mobile-grid-80:after,
.tablet-grid-80:after,
.grid-85:after,
.mobile-grid-85:after,
.tablet-grid-85:after,
.grid-90:after,
.mobile-grid-90:after,
.tablet-grid-90:after,
.grid-95:after,
.mobile-grid-95:after,
.tablet-grid-95:after,
.grid-100:after,
.mobile-grid-100:after,
.tablet-grid-100:after,
.grid-33:after,
.mobile-grid-33:after,
.tablet-grid-33:after,
.grid-66:after,
.mobile-grid-66:after,
.tablet-grid-66:after,
.clearfix:after {
  clear: both;
}
.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0px;
}
.grid-5,
.mobile-grid-5,
.tablet-grid-5,
.grid-10,
.mobile-grid-10,
.tablet-grid-10,
.grid-15,
.mobile-grid-15,
.tablet-grid-15,
.grid-20,
.mobile-grid-20,
.tablet-grid-20,
.grid-25,
.mobile-grid-25,
.tablet-grid-25,
.grid-30,
.mobile-grid-30,
.tablet-grid-30,
.grid-35,
.mobile-grid-35,
.tablet-grid-35,
.grid-40,
.mobile-grid-40,
.tablet-grid-40,
.grid-45,
.mobile-grid-45,
.tablet-grid-45,
.grid-50,
.mobile-grid-50,
.tablet-grid-50,
.grid-55,
.mobile-grid-55,
.tablet-grid-55,
.grid-60,
.mobile-grid-60,
.tablet-grid-60,
.grid-65,
.mobile-grid-65,
.tablet-grid-65,
.grid-70,
.mobile-grid-70,
.tablet-grid-70,
.grid-75,
.mobile-grid-75,
.tablet-grid-75,
.grid-80,
.mobile-grid-80,
.tablet-grid-80,
.grid-85,
.mobile-grid-85,
.tablet-grid-85,
.grid-90,
.mobile-grid-90,
.tablet-grid-90,
.grid-95,
.mobile-grid-95,
.tablet-grid-95,
.grid-100,
.tablet-grid-100,
.mobile-grid-100,
.grid-33,
.mobile-grid-33,
.tablet-grid-33,
.grid-66,
.mobile-grid-66,
.tablet-grid-66 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
}
.row {
  padding: 0px;
  float: left;
  width: 100%;
}
[class*="grid"] [class*="grid"] {
  padding: 0px;
}
@media only screen and (min-width: 991px) {
  .desktop-left {
    text-align: left !important;
  }
  .desktop-right {
    text-align: right !important;
  }
  /*----------------  Desktop Grid  -----------------*/
  .push-5,
  .pull-5,
  .push-10,
  .pull-10,
  .push-15,
  .pull-15,
  .push-20,
  .pull-20,
  .push-25,
  .pull-25,
  .push-30,
  .pull-30,
  .push-35,
  .pull-35,
  .push-40,
  .pull-40,
  .push-45,
  .pull-45,
  .push-50,
  .pull-50,
  .push-55,
  .pull-55,
  .push-60,
  .pull-60,
  .push-65,
  .pull-65,
  .push-70,
  .pull-70,
  .push-75,
  .pull-75,
  .push-80,
  .pull-80,
  .push-85,
  .pull-85,
  .push-90,
  .pull-90,
  .push-95,
  .pull-95,
  .push-33,
  .pull-33,
  .push-66,
  .pull-66 {
    position: relative;
  }
  .hide-on-desktop {
    display: none !important;
  }
  .grid-5 {
    float: left;
    width: 5%;
  }
  .prefix-5 {
    margin-left: 5%;
  }
  .suffix-5 {
    margin-right: 5%;
  }
  .push-5 {
    left: 5%;
  }
  .pull-5 {
    left: -5%;
  }
  .grid-10 {
    float: left;
    width: 10%;
  }
  .prefix-10 {
    margin-left: 10%;
  }
  .suffix-10 {
    margin-right: 10%;
  }
  .push-10 {
    left: 10%;
  }
  .pull-10 {
    left: -10%;
  }
  .grid-15 {
    float: left;
    width: 15%;
  }
  .prefix-15 {
    margin-left: 15%;
  }
  .suffix-15 {
    margin-right: 15%;
  }
  .push-15 {
    left: 15%;
  }
  .pull-15 {
    left: -15%;
  }
  .grid-20 {
    float: left;
    width: 20%;
  }
  .prefix-20 {
    margin-left: 20%;
  }
  .suffix-20 {
    margin-right: 20%;
  }
  .push-20 {
    left: 20%;
  }
  .pull-20 {
    left: -20%;
  }
  .grid-25 {
    float: left;
    width: 25%;
  }
  .prefix-25 {
    margin-left: 25%;
  }
  .suffix-25 {
    margin-right: 25%;
  }
  .push-25 {
    left: 25%;
  }
  .pull-25 {
    left: -25%;
  }
  .grid-30 {
    float: left;
    width: 30%;
  }
  .prefix-30 {
    margin-left: 30%;
  }
  .suffix-30 {
    margin-right: 30%;
  }
  .push-30 {
    left: 30%;
  }
  .pull-30 {
    left: -30%;
  }
  .grid-35 {
    float: left;
    width: 35%;
  }
  .prefix-35 {
    margin-left: 35%;
  }
  .suffix-35 {
    margin-right: 35%;
  }
  .push-35 {
    left: 35%;
  }
  .pull-35 {
    left: -35%;
  }
  .grid-40 {
    float: left;
    width: 40%;
  }
  .prefix-40 {
    margin-left: 40%;
  }
  .suffix-40 {
    margin-right: 40%;
  }
  .push-40 {
    left: 40%;
  }
  .pull-40 {
    left: -40%;
  }
  .grid-45 {
    float: left;
    width: 45%;
  }
  .prefix-45 {
    margin-left: 45%;
  }
  .suffix-45 {
    margin-right: 45%;
  }
  .push-45 {
    left: 45%;
  }
  .pull-45 {
    left: -45%;
  }
  .grid-50 {
    float: left;
    width: 50%;
  }
  .prefix-50 {
    margin-left: 50%;
  }
  .suffix-50 {
    margin-right: 50%;
  }
  .push-50 {
    left: 50%;
  }
  .pull-50 {
    left: -50%;
  }
  .grid-55 {
    float: left;
    width: 55%;
  }
  .prefix-55 {
    margin-left: 55%;
  }
  .suffix-55 {
    margin-right: 55%;
  }
  .push-55 {
    left: 55%;
  }
  .pull-55 {
    left: -55%;
  }
  .grid-60 {
    float: left;
    width: 60%;
  }
  .prefix-60 {
    margin-left: 60%;
  }
  .suffix-60 {
    margin-right: 60%;
  }
  .push-60 {
    left: 60%;
  }
  .pull-60 {
    left: -60%;
  }
  .grid-65 {
    float: left;
    width: 65%;
  }
  .prefix-65 {
    margin-left: 65%;
  }
  .suffix-65 {
    margin-right: 65%;
  }
  .push-65 {
    left: 65%;
  }
  .pull-65 {
    left: -65%;
  }
  .grid-70 {
    float: left;
    width: 70%;
  }
  .prefix-70 {
    margin-left: 70%;
  }
  .suffix-70 {
    margin-right: 70%;
  }
  .push-70 {
    left: 70%;
  }
  .pull-70 {
    left: -70%;
  }
  .grid-75 {
    float: left;
    width: 75%;
  }
  .prefix-75 {
    margin-left: 75%;
  }
  .suffix-75 {
    margin-right: 75%;
  }
  .push-75 {
    left: 75%;
  }
  .pull-75 {
    left: -75%;
  }
  .grid-80 {
    float: left;
    width: 80%;
  }
  .prefix-80 {
    margin-left: 80%;
  }
  .suffix-80 {
    margin-right: 80%;
  }
  .push-80 {
    left: 80%;
  }
  .pull-80 {
    left: -80%;
  }
  .grid-85 {
    float: left;
    width: 85%;
  }
  .prefix-85 {
    margin-left: 85%;
  }
  .suffix-85 {
    margin-right: 85%;
  }
  .push-85 {
    left: 85%;
  }
  .pull-85 {
    left: -85%;
  }
  .grid-90 {
    float: left;
    width: 90%;
  }
  .prefix-90 {
    margin-left: 90%;
  }
  .suffix-90 {
    margin-right: 90%;
  }
  .push-90 {
    left: 90%;
  }
  .pull-90 {
    left: -90%;
  }
  .grid-95 {
    float: left;
    width: 95%;
  }
  .prefix-95 {
    margin-left: 95%;
  }
  .suffix-95 {
    margin-right: 95%;
  }
  .push-95 {
    left: 95%;
  }
  .pull-95 {
    left: -95%;
  }
  .grid-33 {
    float: left;
    width: 33.333333%;
  }
  .prefix-33 {
    margin-left: 33.333333%;
  }
  .suffix-33 {
    margin-right: 33.333333%;
  }
  .push-33 {
    left: 33.333333%;
  }
  .pull-33 {
    left: -33.333333%;
  }
  .grid-66 {
    float: left;
    width: 66.666667%;
  }
  .prefix-66 {
    margin-left: 66.666667%;
  }
  .suffix-66 {
    margin-right: 66.666667%;
  }
  .push-66 {
    left: 66.666667%;
  }
  .pull-66 {
    left: -66.666667%;
  }
  .grid-100 {
    clear: both;
    width: 100%;
  }
  /*--------------  End of Desktop Grid  --------------*/
}
@media only screen and (min-width: 641px) and (max-width: 990px) {
  h1 {
    font-size: 1.45em;
  }
  h3 {
    font-size: 1.05em;
  }
  .tablet-left {
    text-align: left !important;
  }
  .tablet-right {
    text-align: right !important;
  }
  /*------------------  Dashboard  ------------------*/
  .portletScreen ul.four-column-list .details {
    -webkit-flex: 2 1 22%;
    -moz-flex: 2 1 22%;
    -ms-flex: 2 1 22%;
    flex: 2 1 22%;
    min-width: 150px;
    width: auto;
  }
  /*----------------  End Dashboard  ----------------*/
  /*-----------------  Tablet Grid  -----------------*/
  .tablet-push-5,
  .tablet-pull-5,
  .tablet-push-10,
  .tablet-pull-10,
  .tablet-push-15,
  .tablet-pull-15,
  .tablet-push-20,
  .tablet-pull-20,
  .tablet-push-25,
  .tablet-pull-25,
  .tablet-push-30,
  .tablet-pull-30,
  .tablet-push-35,
  .tablet-pull-35,
  .tablet-push-40,
  .tablet-pull-40,
  .tablet-push-45,
  .tablet-pull-45,
  .tablet-push-50,
  .tablet-pull-50,
  .tablet-push-55,
  .tablet-pull-55,
  .tablet-push-60,
  .tablet-pull-60,
  .tablet-push-65,
  .tablet-pull-65,
  .tablet-push-70,
  .tablet-pull-70,
  .tablet-push-75,
  .tablet-pull-75,
  .tablet-push-80,
  .tablet-pull-80,
  .tablet-push-85,
  .tablet-pull-85,
  .tablet-push-90,
  .tablet-pull-90,
  .tablet-push-95,
  .tablet-pull-95,
  .tablet-push-33,
  .tablet-pull-33,
  .tablet-push-66,
  .tablet-pull-66 {
    position: relative;
  }
  .hide-on-tablet {
    display: none !important;
  }
  .tablet-grid-5 {
    float: left;
    width: 5%;
  }
  .tablet-prefix-5 {
    margin-left: 5%;
  }
  .tablet-suffix-5 {
    margin-right: 5%;
  }
  .tablet-push-5 {
    left: 5%;
  }
  .tablet-pull-5 {
    left: -5%;
  }
  .tablet-grid-10 {
    float: left;
    width: 10%;
  }
  .tablet-prefix-10 {
    margin-left: 10%;
  }
  .tablet-suffix-10 {
    margin-right: 10%;
  }
  .tablet-push-10 {
    left: 10%;
  }
  .tablet-pull-10 {
    left: -10%;
  }
  .tablet-grid-15 {
    float: left;
    width: 15%;
  }
  .tablet-prefix-15 {
    margin-left: 15%;
  }
  .tablet-suffix-15 {
    margin-right: 15%;
  }
  .tablet-push-15 {
    left: 15%;
  }
  .tablet-pull-15 {
    left: -15%;
  }
  .tablet-grid-20 {
    float: left;
    width: 20%;
  }
  .tablet-prefix-20 {
    margin-left: 20%;
  }
  .tablet-suffix-20 {
    margin-right: 20%;
  }
  .tablet-push-20 {
    left: 20%;
  }
  .tablet-pull-20 {
    left: -20%;
  }
  .tablet-grid-25 {
    float: left;
    width: 25%;
  }
  .tablet-prefix-25 {
    margin-left: 25%;
  }
  .tablet-suffix-25 {
    margin-right: 25%;
  }
  .tablet-push-25 {
    left: 25%;
  }
  .tablet-pull-25 {
    left: -25%;
  }
  .tablet-grid-30 {
    float: left;
    width: 30%;
  }
  .tablet-prefix-30 {
    margin-left: 30%;
  }
  .tablet-suffix-30 {
    margin-right: 30%;
  }
  .tablet-push-30 {
    left: 30%;
  }
  .tablet-pull-30 {
    left: -30%;
  }
  .tablet-grid-35 {
    float: left;
    width: 35%;
  }
  .tablet-prefix-35 {
    margin-left: 35%;
  }
  .tablet-suffix-35 {
    margin-right: 35%;
  }
  .tablet-push-35 {
    left: 35%;
  }
  .tablet-pull-35 {
    left: -35%;
  }
  .tablet-grid-40 {
    float: left;
    width: 40%;
  }
  .tablet-prefix-40 {
    margin-left: 40%;
  }
  .tablet-suffix-40 {
    margin-right: 40%;
  }
  .tablet-push-40 {
    left: 40%;
  }
  .tablet-pull-40 {
    left: -40%;
  }
  .tablet-grid-45 {
    float: left;
    width: 45%;
  }
  .tablet-prefix-45 {
    margin-left: 45%;
  }
  .tablet-suffix-45 {
    margin-right: 45%;
  }
  .tablet-push-45 {
    left: 45%;
  }
  .tablet-pull-45 {
    left: -45%;
  }
  .tablet-grid-50 {
    float: left;
    width: 50%;
  }
  .tablet-prefix-50 {
    margin-left: 50%;
  }
  .tablet-suffix-50 {
    margin-right: 50%;
  }
  .tablet-push-50 {
    left: 50%;
  }
  .tablet-pull-50 {
    left: -50%;
  }
  .tablet-grid-55 {
    float: left;
    width: 55%;
  }
  .tablet-prefix-55 {
    margin-left: 55%;
  }
  .tablet-suffix-55 {
    margin-right: 55%;
  }
  .tablet-push-55 {
    left: 55%;
  }
  .tablet-pull-55 {
    left: -55%;
  }
  .tablet-grid-60 {
    float: left;
    width: 60%;
  }
  .tablet-prefix-60 {
    margin-left: 60%;
  }
  .tablet-suffix-60 {
    margin-right: 60%;
  }
  .tablet-push-60 {
    left: 60%;
  }
  .tablet-pull-60 {
    left: -60%;
  }
  .tablet-grid-65 {
    float: left;
    width: 65%;
  }
  .tablet-prefix-65 {
    margin-left: 65%;
  }
  .tablet-suffix-65 {
    margin-right: 65%;
  }
  .tablet-push-65 {
    left: 65%;
  }
  .tablet-pull-65 {
    left: -65%;
  }
  .tablet-grid-70 {
    float: left;
    width: 70%;
  }
  .tablet-prefix-70 {
    margin-left: 70%;
  }
  .tablet-suffix-70 {
    margin-right: 70%;
  }
  .tablet-push-70 {
    left: 70%;
  }
  .tablet-pull-70 {
    left: -70%;
  }
  .tablet-grid-75 {
    float: left;
    width: 75%;
  }
  .tablet-prefix-75 {
    margin-left: 75%;
  }
  .tablet-suffix-75 {
    margin-right: 75%;
  }
  .tablet-push-75 {
    left: 75%;
  }
  .tablet-pull-75 {
    left: -75%;
  }
  .tablet-grid-80 {
    float: left;
    width: 80%;
  }
  .tablet-prefix-80 {
    margin-left: 80%;
  }
  .tablet-suffix-80 {
    margin-right: 80%;
  }
  .tablet-push-80 {
    left: 80%;
  }
  .tablet-pull-80 {
    left: -80%;
  }
  .tablet-grid-85 {
    float: left;
    width: 85%;
  }
  .tablet-prefix-85 {
    margin-left: 85%;
  }
  .tablet-suffix-85 {
    margin-right: 85%;
  }
  .tablet-push-85 {
    left: 85%;
  }
  .tablet-pull-85 {
    left: -85%;
  }
  .tablet-grid-90 {
    float: left;
    width: 90%;
  }
  .tablet-prefix-90 {
    margin-left: 90%;
  }
  .tablet-suffix-90 {
    margin-right: 90%;
  }
  .tablet-push-90 {
    left: 90%;
  }
  .tablet-pull-90 {
    left: -90%;
  }
  .tablet-grid-95 {
    float: left;
    width: 95%;
  }
  .tablet-prefix-95 {
    margin-left: 95%;
  }
  .tablet-suffix-95 {
    margin-right: 95%;
  }
  .tablet-push-95 {
    left: 95%;
  }
  .tablet-pull-95 {
    left: -95%;
  }
  .tablet-grid-33 {
    float: left;
    width: 33.333333%;
  }
  .tablet-prefix-33 {
    margin-left: 33.333333%;
  }
  .tablet-suffix-33 {
    margin-right: 33.333333%;
  }
  .tablet-push-33 {
    left: 33.333333%;
  }
  .tablet-pull-33 {
    left: -33.333333%;
  }
  .tablet-grid-66 {
    float: left;
    width: 66.666667%;
  }
  .tablet-prefix-66 {
    margin-left: 66.666667%;
  }
  .tablet-suffix-66 {
    margin-right: 66.666667%;
  }
  .tablet-push-66 {
    left: 66.666667%;
  }
  .tablet-pull-66 {
    left: -66.666667%;
  }
  .tablet-grid-100 {
    clear: both;
    width: 100%;
  }
  /*--------------  End of Tablet Grid  -------------*/
}
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Mobile Screens ------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 640px) {
  body {
    font-size: 1em;
  }
  h1 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.02em;
  }
  .mobile-left {
    text-align: left !important;
  }
  .mobile-right {
    text-align: right !important;
  }
  .mobile-grid-100 {
    padding: 0px;
  }
  input[type="date"],
  input[type="tel"] {
    max-width: none !important;
  }
  input[type="text"],
  input[type="password"],
  input[type="search"],
  input[type="date"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea {
    min-height: 40px;
    min-width: 44px;
  }
  /*---------------  Main Navigation  ---------------*/
  .MainNavigation a {
    padding: 0.9em 1em;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
  }
  .MainNavigation a:first-of-type {
    padding: 0em 0.65em 0em .35em;
  }
  .MainNavigation a:first-of-type img {
    height: 45px;
    width: 45px;
  }
  /*-------------  End Main Navigation  -------------*/
  /*------------------  Dashboard  ------------------*/
  article.flex-item {
    margin: 0.8em 0.35em 0em 0.35em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
  article.flex-item.headingInfo {
    margin: 0.8em 0em 0em;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  article.flex-item.headingInfo .reqNumber {
    padding: 0.1em 0em 0em 0.75em;
    font-size: 1.25em;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  article.flex-item.headingInfo h1 {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: left;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 0.45em 0em 0em 0.7em;
  }
  article.flex-item.headingInfo .status {
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    font-size: 0.9em;
    padding: 0.3em 0em 0.7em 1.15em;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .portletScreen ul {
    float: left;
    width: 100%;
  }
  .portletScreen ul.three-column-list .reqNumber,
  .portletScreen ul.three-column-list .status {
    width: auto;
  }
  .portletScreen ul.three-column-list .details {
    width: auto;
  }
  .portletScreen ul.three-column-list-details .reqNumber,
  .portletScreen ul.three-column-list-details .status {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
    min-width: 0px;
  }
  .portletScreen ul.three-column-list-details .details {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .portletScreen ul li {
    width: 100%;
    float: left;
    padding: .5em .4em .5em .8em;
  }
  .portletScreen ul li a {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .portletScreen ul li span {
    padding: 0px;
    min-width: 0px;
    width: auto;
  }
  .portletScreen ul li.withLabel {
    padding: 0em 0em .5em;
    border-bottom: 1px solid #cc3500;
  }
  .portletScreen ul li .status {
    float: right;
    font-size: 0.75em;
    background-color: transparent;
    font-weight: 700;
    padding: 0.9em 1.05em 0.4em;
    margin: 0px;
    width: auto;
    text-align: right;
    min-width: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .portletScreen ul li .details {
    float: left;
    padding: 0.25em 0.8em 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 0px !important;
    width: auto !important;
    -webkit-flex: 0 auto !important;
    -moz-flex: 0 auto !important;
    -ms-flex: 0 auto !important;
    flex: 0 auto !important;
  }
  .portletScreen ul li .details .detailLabel {
    padding: 0em 0.5em 0em 0em;
  }
  .portletScreen ul li .reqNumber {
    color: #ff5d00;
    font-weight: 700;
    padding: 0.3em 0.7em 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    font-size: 1.1em;
  }
  .portletScreen ul article.flex-item {
    margin: 0.8em 0.35em 0em 0.35em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
  .portletScreen ul .autoValues {
    width: 100%;
    float: left;
    padding: 0.5em 0.5em 0em;
  }
  .portletScreen ul.lineItemList .itemNumber {
    float: left;
    font-size: 1em;
    height: auto;
    background-color: transparent;
    color: #ff5d00;
    font-weight: 700;
    padding: 0.75em 0.7em 0em;
    margin: 0px;
    border-bottom: 0px none transparent;
    width: auto;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .portletScreen ul.lineItemList .lineTotal {
    color: #ff5d00;
    font-weight: 700;
    padding: 0.3em 0.7em 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    font-size: 1.25em;
  }
  .portletScreen ul.lineItemList .lineTotal small {
    font-size: .75em;
    color: #cc3500;
    padding: 0em 0em 0em 0.25em;
  }
  .portletScreen ul.lineItemList .lineTotal.totals {
    width: 100%;
    text-align: right;
  }
  .portletScreen ul.lineItemList .lineTotal.totals small:first-of-type {
    padding: 0em 0.25em 0em 0em;
  }
  .portletScreen ul.lineItemList .details {
    white-space: normal;
  }
  /*----------------  End Dashboard  ----------------*/
  /*-----------------  2Col Inputs  -----------------*/
  .twoColInputs {
    margin: 0em 0.75em;
  }
  .twoColInputs .flex-container-parent {
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
  }
  .twoColInputs .flex-container-parent .flex-container .inputLabel {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .twoColInputs .flex-container-parent .flex-container .inputLabel.errorMessage {
    display: none;
    visibility: hidden;
  }
  .twoColInputs .flex-container-parent .flex-container .errorMessage {
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
  }
  .twoColInputs .flex-container-parent .flex-container input {
    width: 100%;
  }
  .twoColInputs .autoValuesBox {
    padding: 0.25em 1em;
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    margin: 0.8em 0.35em 0em 0.35em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
  .twoColInputs .autoValuesBox .autoValues {
    -webkit-flex: 1 100%;
    -moz-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
  }
  .twoColInputs article.autoValuesBox {
    margin: 0.5em 0em;
  }
  /*---------------  End 2Col Inputs  ---------------*/
  /*---------------  Catalog Search   ---------------*/
  .topSearch button.cartButton,
  .topSearch button.filtersButton {
    float: left;
    width: 50%;
    margin: .5em 0em 0em;
  }
  .topSearch .showCount {
    width: auto;
    float: left;
    margin: 10px 0px 0px 10px;
  }
  .topSearch .input-group {
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .topSearch .input-group input {
    float: left;
    border-left: 0px none;
    height: 44px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    -webkit-flex: 1 auto;
    -moz-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }
  .topSearch .input-group button {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 6em;
    min-width: 50px;
    border: 2px solid #cc3500;
    border-right-width: 1px;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  /*-------------  End Catalog Search   -------------*/
  .loginOuterParent .loginInnerParent {
    vertical-align: top;
  }
  .loginOuterParent .loginInnerParent .loginPage {
    width: 100%;
    margin: 0px;
    min-width: 0px;
    max-width: none;
    background-color: #ffffff;
    padding: 1em 0em;
    text-align: center;
    border: 0px none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px transparent;
  }
  .loginOuterParent .loginInnerParent .loginPage article.inputs label span {
    margin: 0em;
  }
  .loginOuterParent .loginInnerParent .loginPage article.inputs label input {
    max-width: none;
  }
  .loginOuterParent .loginInnerParent .loginPage article.langSelect {
    padding: 0.65em 0em 1.25em;
  }
  .loginOuterParent .loginInnerParent .loginPage article.langSelect label {
    margin: 0px;
    padding: 0px;
  }
  .loginOuterParent .loginInnerParent .loginPage article.forgotPass {
    padding: 0.5em 0em 0.25em;
  }
  .loginOuterParent .loginInnerParent .loginPage article.btnGroup {
    margin: 0em auto;
    padding: 0em;
    min-width: 220px;
    max-width: none;
  }
  .loginOuterParent .loginInnerParent .loginPage article.btnGroup button {
    border-right-width: 0px;
    width: 50%;
  }
  .loginOuterParent .loginInnerParent .loginPage article.btnGroup button:last-child {
    border-right-width: 1px;
  }
  .loginOuterParent .loginInnerParent .loginPage article.logo img {
    width: 100%;
    max-width: 360px;
    height: auto;
  }
  /*-----------------  Mobile Grid  -----------------*/
  .mobile-push-5,
  .mobile-pull-5,
  .mobile-push-10,
  .mobile-pull-10,
  .mobile-push-15,
  .mobile-pull-15,
  .mobile-push-20,
  .mobile-pull-20,
  .mobile-push-25,
  .mobile-pull-25,
  .mobile-push-30,
  .mobile-pull-30,
  .mobile-push-35,
  .mobile-pull-35,
  .mobile-push-40,
  .mobile-pull-40,
  .mobile-push-45,
  .mobile-pull-45,
  .mobile-push-50,
  .mobile-pull-50,
  .mobile-push-55,
  .mobile-pull-55,
  .mobile-push-60,
  .mobile-pull-60,
  .mobile-push-65,
  .mobile-pull-65,
  .mobile-push-70,
  .mobile-pull-70,
  .mobile-push-75,
  .mobile-pull-75,
  .mobile-push-80,
  .mobile-pull-80,
  .mobile-push-85,
  .mobile-pull-85,
  .mobile-push-90,
  .mobile-pull-90,
  .mobile-push-95,
  .mobile-pull-95,
  .mobile-push-33,
  .mobile-pull-33,
  .mobile-push-66,
  .mobile-pull-66 {
    position: relative;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .mobile-grid-5 {
    float: left;
    width: 5%;
  }
  .mobile-prefix-5 {
    margin-left: 5%;
  }
  .mobile-suffix-5 {
    margin-right: 5%;
  }
  .mobile-push-5 {
    left: 5%;
  }
  .mobile-pull-5 {
    left: -5%;
  }
  .mobile-grid-10 {
    float: left;
    width: 10%;
  }
  .mobile-prefix-10 {
    margin-left: 10%;
  }
  .mobile-suffix-10 {
    margin-right: 10%;
  }
  .mobile-push-10 {
    left: 10%;
  }
  .mobile-pull-10 {
    left: -10%;
  }
  .mobile-grid-15 {
    float: left;
    width: 15%;
  }
  .mobile-prefix-15 {
    margin-left: 15%;
  }
  .mobile-suffix-15 {
    margin-right: 15%;
  }
  .mobile-push-15 {
    left: 15%;
  }
  .mobile-pull-15 {
    left: -15%;
  }
  .mobile-grid-20 {
    float: left;
    width: 20%;
  }
  .mobile-prefix-20 {
    margin-left: 20%;
  }
  .mobile-suffix-20 {
    margin-right: 20%;
  }
  .mobile-push-20 {
    left: 20%;
  }
  .mobile-pull-20 {
    left: -20%;
  }
  .mobile-grid-25 {
    float: left;
    width: 25%;
  }
  .mobile-prefix-25 {
    margin-left: 25%;
  }
  .mobile-suffix-25 {
    margin-right: 25%;
  }
  .mobile-push-25 {
    left: 25%;
  }
  .mobile-pull-25 {
    left: -25%;
  }
  .mobile-grid-30 {
    float: left;
    width: 30%;
  }
  .mobile-prefix-30 {
    margin-left: 30%;
  }
  .mobile-suffix-30 {
    margin-right: 30%;
  }
  .mobile-push-30 {
    left: 30%;
  }
  .mobile-pull-30 {
    left: -30%;
  }
  .mobile-grid-35 {
    float: left;
    width: 35%;
  }
  .mobile-prefix-35 {
    margin-left: 35%;
  }
  .mobile-suffix-35 {
    margin-right: 35%;
  }
  .mobile-push-35 {
    left: 35%;
  }
  .mobile-pull-35 {
    left: -35%;
  }
  .mobile-grid-40 {
    float: left;
    width: 40%;
  }
  .mobile-prefix-40 {
    margin-left: 40%;
  }
  .mobile-suffix-40 {
    margin-right: 40%;
  }
  .mobile-push-40 {
    left: 40%;
  }
  .mobile-pull-40 {
    left: -40%;
  }
  .mobile-grid-45 {
    float: left;
    width: 45%;
  }
  .mobile-prefix-45 {
    margin-left: 45%;
  }
  .mobile-suffix-45 {
    margin-right: 45%;
  }
  .mobile-push-45 {
    left: 45%;
  }
  .mobile-pull-45 {
    left: -45%;
  }
  .mobile-grid-50 {
    float: left;
    width: 50%;
  }
  .mobile-prefix-50 {
    margin-left: 50%;
  }
  .mobile-suffix-50 {
    margin-right: 50%;
  }
  .mobile-push-50 {
    left: 50%;
  }
  .mobile-pull-50 {
    left: -50%;
  }
  .mobile-grid-55 {
    float: left;
    width: 55%;
  }
  .mobile-prefix-55 {
    margin-left: 55%;
  }
  .mobile-suffix-55 {
    margin-right: 55%;
  }
  .mobile-push-55 {
    left: 55%;
  }
  .mobile-pull-55 {
    left: -55%;
  }
  .mobile-grid-60 {
    float: left;
    width: 60%;
  }
  .mobile-prefix-60 {
    margin-left: 60%;
  }
  .mobile-suffix-60 {
    margin-right: 60%;
  }
  .mobile-push-60 {
    left: 60%;
  }
  .mobile-pull-60 {
    left: -60%;
  }
  .mobile-grid-65 {
    float: left;
    width: 65%;
  }
  .mobile-prefix-65 {
    margin-left: 65%;
  }
  .mobile-suffix-65 {
    margin-right: 65%;
  }
  .mobile-push-65 {
    left: 65%;
  }
  .mobile-pull-65 {
    left: -65%;
  }
  .mobile-grid-70 {
    float: left;
    width: 70%;
  }
  .mobile-prefix-70 {
    margin-left: 70%;
  }
  .mobile-suffix-70 {
    margin-right: 70%;
  }
  .mobile-push-70 {
    left: 70%;
  }
  .mobile-pull-70 {
    left: -70%;
  }
  .mobile-grid-75 {
    float: left;
    width: 75%;
  }
  .mobile-prefix-75 {
    margin-left: 75%;
  }
  .mobile-suffix-75 {
    margin-right: 75%;
  }
  .mobile-push-75 {
    left: 75%;
  }
  .mobile-pull-75 {
    left: -75%;
  }
  .mobile-grid-80 {
    float: left;
    width: 80%;
  }
  .mobile-prefix-80 {
    margin-left: 80%;
  }
  .mobile-suffix-80 {
    margin-right: 80%;
  }
  .mobile-push-80 {
    left: 80%;
  }
  .mobile-pull-80 {
    left: -80%;
  }
  .mobile-grid-85 {
    float: left;
    width: 85%;
  }
  .mobile-prefix-85 {
    margin-left: 85%;
  }
  .mobile-suffix-85 {
    margin-right: 85%;
  }
  .mobile-push-85 {
    left: 85%;
  }
  .mobile-pull-85 {
    left: -85%;
  }
  .mobile-grid-90 {
    float: left;
    width: 90%;
  }
  .mobile-prefix-90 {
    margin-left: 90%;
  }
  .mobile-suffix-90 {
    margin-right: 90%;
  }
  .mobile-push-90 {
    left: 90%;
  }
  .mobile-pull-90 {
    left: -90%;
  }
  .mobile-grid-95 {
    float: left;
    width: 95%;
  }
  .mobile-prefix-95 {
    margin-left: 95%;
  }
  .mobile-suffix-95 {
    margin-right: 95%;
  }
  .mobile-push-95 {
    left: 95%;
  }
  .mobile-pull-95 {
    left: -95%;
  }
  .mobile-grid-33 {
    float: left;
    width: 33.333333%;
  }
  .mobile-prefix-33 {
    margin-left: 33.333333%;
  }
  .mobile-suffix-33 {
    margin-right: 33.333333%;
  }
  .mobile-push-33 {
    left: 33.333333%;
  }
  .mobile-pull-33 {
    left: -33.333333%;
  }
  .mobile-grid-66 {
    float: left;
    width: 66.666667%;
  }
  .mobile-prefix-66 {
    margin-left: 66.666667%;
  }
  .mobile-suffix-66 {
    margin-right: 66.666667%;
  }
  .mobile-push-66 {
    left: 66.666667%;
  }
  .mobile-pull-66 {
    left: -66.666667%;
  }
  .mobile-grid-100 {
    clear: both;
    width: 100%;
  }
  /*--------------  End of Mobile Grid  -------------*/
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Print ----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: 0px 0px 0px none !important;
    text-shadow: 0px 0px 0px none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* Don't show links for images, or javascript/internal links */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

