	<h1>Browse</h1>
  	<table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
    <thead>
    <tr><th ng-repeat="label in labelList">{{label}}</th><th ng-if="needButtons || viewButton">Action</th></tr>
     
    </thead>
    <tbody>
		<tr ng-repeat="obj in browseList">
			<td ng-repeat="col in columnList">
          	 	<p ng-if="obj[col].indexOf('.jpg') > 0">
          			<img src="{{imagePath}}{{obj[col]}}" width="55" height="70"/>
          	 	</p>
          	 	<p ng-if="obj[col].indexOf('.jpg') < 0 || !obj[col].indexOf('.jpg')">
          			{{obj[col]}}
          	 	</p>
          	 	<p ng-if="col.indexOf('id.') >= 0">
          			{{obj.id[col.replace('id.','')]}}
          	 	</p>
        	</td>
			<td ng-if="needButtons">
				<div class="btn-group">
                	<button type="button" class="btn btn-default btn" ng-click="$event.preventDefault();openAccount(obj)"><i class="glyphicon glyphicon-pencil"></i></button>  
                	<button type="button" class="btn btn-default btn" ng-click="$event.preventDefault();delete(obj)"><i class="glyphicon glyphicon-trash"></i></button> 
            	</div>
            </td>
 		</tr>
    </tbody>
  	</table>