<div class="login-page">
	<article class="logo">
		<h1>Welcome to Quiz</h1>
	</article>
	<div class="form">
	    <form class="register-form"  ng-submit="submitForm()">
	    	<input type="text" placeholder="email" ng-model="email"/>
	      	<input type="password" placeholder="password"/>
	      	<input type="text" placeholder="email address"/>
	      	<button type="submit" class="btn btn-default">create</button>
	      	<p class="message">Already registered? <a href="#">Sign In</a></p>
	      	<div class="col-sm-offset-2 col-sm-10">
				<p>{{errorsMessage}}</p>
			</div>
	    </form>
	    <form class="login-form" ng-submit="submitForm()">
	      	<input type="text" placeholder="mailId" ng-model="userId"/>
	      	<input type="password" placeholder="password" ng-model="password"/>
	      	<button type="submit" class="btn btn-default">login</button>
	      	<p class="message">Not registered? <a href='#' ng-click="$event.preventDefault();register()">Create an account</a></p>
	      	
	      	<div class="col-sm-offset-2 col-sm-10">
				<p>{{errorsMessage}}</p>
			</div>
	    </form>
	</div>
</div>