
	<h1>This is a heading</h1>
	<h3>This is a sub-heading</h1>
	<label class="floatLeft">Label Text:</label>
	<p class="floatLeft">Value Text</p><br>
	<p class="floatLeft clear">This is a normal paragraph.</p>
	<div ng-controller="MainCtrl">
	<form class="floatLeft clear">
		<fieldset>
			<label class="floatLeft"> {{requisitionHeader.requisitionNumber}} - Number:</label>
			<input class="floatLeft" type="text" placeholder="Line Number" ng-model="requisitionHeader.requisitionNumber"/>
		</fieldset>
		<fieldset>
			<label class="floatLeft">Item Name:</label>
			<input class="floatLeft" type="text" placeholder="Item Name" ng-model="requisitionHeader.requisitionType" />
		</fieldset>
		<fieldset>
			<label class="floatLeft">Date Received:</label>
			<input class="floatLeft" type="date" placeholder="mm/dd/yyyy" />
		</fieldset>
	</form>
	</div>

