<form class="form-horizontal" role="form">
    <fieldset>
        <legend>Register Page</legend>
        <div class="form-group">
        	<label>First Name</label>
            <div>
            	<input type="text" id="firstName" name="firstName" ng-model="user.firstName" class="form-control" />     
            </div>
            <label>Last Name</label>
            <div>
            	<input type="text" id="lastName" name="lastName" ng-model="user.lastName" class="form-control" />     
            </div>
            <label>Email</label>
            <div>
            	<input type="text" id="mailId" name="mailId" ng-model="user.mailId" class="form-control" />     
            </div>
            <label>Password</label>
            <div>
            	<input type="password" id="password" name="password" ng-model="user.userPassword" class="form-control" />     
            </div>
            <label>Phone Number</label>
            <div>
            	<input type="text" id="phoneNumber" name="phoneNumber" ng-model="user.phoneNumber" class="form-control" />     
            </div>
            <label>Address</label>
            <div>
            	<input type="text" id="address" name="address" ng-model="user.address" class="form-control" />     
            </div>
            <label>District</label>
            <div>
            	<input type="text" id="district" name="district" ng-model="user.district" class="form-control" />     
            </div>
            <label>City</label>
            <div>
            	<input type="text" id="city" name="city" ng-model="user.city" class="form-control" />     
            </div>
            <label>Country</label>
            <div>
            	<input type="text" id="country" name="country" ng-model="user.country" class="form-control" />     
            </div>
            <label>DNI</label>
            <div>
            	<input type="text" id="dni" name="dni" ng-model="user.dni" class="form-control" />     
            </div>
    	</div>
    </fieldset>
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="button" class="btn btn-primary" value="Submit"
               ng-click="addUser(user)" />
    </div>
 
</form>