<form class="form-horizontal" role="form">
    <fieldset>
        <legend>Account Page</legend>
        <div class="form-group">
        	<label>First Name</label>
            <div>
            	<input type="text" id="firstName" name="firstName" ng-model="user.firstName" class="form-control" />     
            </div>
            <label>Last Name</label>
            <div>
            	<input type="text" id="lastName" name="lastName" ng-model="user.lastName" class="form-control" />     
            </div>
            <label>Email</label>
            <div>
            	<input type="text" id="mailId" name="mailId" ng-model="user.mailId" class="form-control" />     
            </div>
            <label>Coins</label>
            <div>
            	<input type="number" id="coins" name="coins" ng-model="user.coins" class="form-control" />     
            </div>
    	</div>
    </fieldset>
     	<label>Transfer Coins</label>
        <div>
        	<input type="number" id="transfercoins" name="transfercoins" ng-model="transferCoins" class="form-control" />     
        </div>
		<label for="originalTitle" class="col-sm-3 control-label">Select person to transfer:</label>
        <div class="col-sm-9">
            <select class="form-control" ng-options="user.userId as (user.firstName + ' ' + user.lastName) for user in userProfileList" ng-model="transferCoinsUser"></select>
        </div>
    <fieldset>
    </fieldset>
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="button" class="btn btn-primary" value="Transfer"
               ng-click="transferCoinsCalculate()" ng-disabled="user.coins == 0 || transferCoins > user.coins || user.userId == transferCoinsUser" />
    </div>
 
</form>